@import '../../base/all/var';

.calculating-cost-stretch-ceiling {
    background-color: #F7F7F7;

    .title {
        max-width: 12em;
        margin-bottom: 0.95em;
        line-height: 1.2
    }

    .title,
    &__inner {
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        margin-bottom: 1.263em;
        text-align: left;
    }

    &__inner {
        max-width: 21.6em;
    }

    &__values {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    &__value {
        font-size: 1.5em;
        font-weight: 700;
        white-space: nowrap;

        sup {
            font-size: 0.4em;
            font-weight: 900;
        }

        &-small {
            font-size: 1.6rem;
        }
    }

    &__slider {
        appearance: none;
        position: relative;
        width: 100%;
        height: 0.250em;
        margin-bottom: 1.813em;
        background: $darkGray;
        outline: none;
        border-radius: 0.313em;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 1.313em;
            height: 1.313em;
            border-radius: 50%;
            background-color: $white;
            border: 0.250em solid $orange;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            appearance: none;
            width: 1.313em;
            height: 1.313em;
            border-radius: 50%;
            background-color: $white;
            border: 0.250em solid $orange;
            cursor: pointer;
        }

        &:before,
        &:after {
            position: absolute;
            top: -0.5em;
            font-size: 0.625em;
            color: $darkGray;
        }

        &:before {
            content: '5';
            left: -2.1em;
        }

        &:after {
            content: '50';
            right: -2.1em;
        }

        &-box {
            max-width: 88%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .button {
        width: 100%;
        min-height: 2.500em;
        letter-spacing: 0;
    }

    @media (min-width: 600px) {
        .title {
            max-width: none;
        }

        &__inner {
            max-width: 42.6em;
        }

        &__button {
            &-box {
                max-width: 29.188em;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    @media (min-width: 768px) {
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;

        .title {
            margin-bottom: 0.65em;
        }

        &__inner {
            max-width: 44.3em;
        }

        .text {
            margin-bottom: 1.063em;
        }

        &__value {
            font-size: 1.875em;

            &-small {
                font-size: 2.4rem;
            }
        }

        &__slider {
            margin-bottom: 2.213em;

            &:before,
            &:after {
                font-size: 0.938em;
            }

            &:before {
                left: -1.9em;
            }

            &:after {
                right: -1.9em;
            }

            &::-webkit-slider-thumb {
                width: 1.7em;
                height: 1.7em;
                border-width: 0.150em;
            }

            &::-moz-range-thumb {
                width: 1.7em;
                height: 1.7em;
                border-width: 0.150em;
            }

            &-box {
                max-width: 92%;
            }
        }
    }

    @media (min-width: 1200px) {
        padding-top: 6rem;
        padding-bottom: 6rem;

        .title {
            margin-bottom: 0.75em;
        }

        &__inner {
            max-width: 71.3em;
        }

        &__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 2em;
        }

        &__values {
            width: 17.5em;
            margin-bottom: 0;
            transform: translateX(.5em);
        }

        &__slider {
            margin-bottom: 0;

            &-box {
                width: 36.6%;
                margin-left: 0;
                margin-right: 0;
                order: -1;
            }

            &::-webkit-slider-thumb {
                width: 2.1em;
                height: 2.1em;
            }

            &::-moz-range-thumb {
                width: 2.1em;
                height: 2.1em;
            }
        }

        &__button {
            &-box {
                max-width: 16.938em;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .button {
            padding-left: 0.7em;
            padding-right: 0.7em;
        }
    }
}