.catalog-photo-printing-artmix {
    .title {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    .text,
    &__item,
    .button {
        margin-right: auto;
        margin-left: auto;
    }

    .text {
        max-width: 28rem;
    }

    &__item,
    .button {
        max-width: 34.5rem;
    }

    &__item {
        margin-bottom: 1.5rem;

        &.hide {
            display: none;
        }
    }

    &__image {
        width: 34.5rem;
        height: 24.7rem;
    }

    @media (min-width: 768px) {
        .title,
        .text {
            margin-bottom: 3rem;
        }

        .text {
            max-width: none;
            text-align: center;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 72.2rem;
            margin-right: auto;
            margin-left: auto;
        }

        &__item {
            margin-bottom: 2rem;

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
                display: block;
            }
        }

        &__image {
            width: 34.7rem;
            height: 20.7rem;
        }

        .button {
            max-width: 34.6rem;
        }
    }

    @media (min-width: 1200px) {
        &__list {
            max-width: none;
        }

        &__item {
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12) {
                display: block;
            }
        }

        &__image {
            width: 22.5rem;
            height: 13.6rem;
        }

        .button {
            max-width: 30.6rem;
        }
    }
}