@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.cost-calculation {
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* .cost-calculation__title */

    &__title {
        margin-bottom: 2.5rem;
        text-transform: uppercase;

        span {
            text-transform: initial;
            margin-top: 1em;
        }

        @include _768 {
            margin-bottom: 3rem;
        }

        @include _1200 {
            line-height: 1.2;
        }
    }

    /* .cost-calculation__item */

    &__item {
        border: 0.15rem solid #e6e6e6;
        margin: 0 -1em;
        padding: 1.6em 1em 1.4em;

        & + & {
            margin-top: 1.6em;

            @include _768 {
                margin-top: 2.2em;
            }

            @include _1200 {
                margin-top: 3.3em;
            }
        }

        @include _768 {
            margin: 0;
            max-width: 100%;
            padding: 3rem 6rem;
        }

        @include _1200 {
            max-width: 100%;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.1fr 1fr;
            gap: 0px 2rem;
            grid-template-areas:
                "img title"
                "img list";
        }
    }

    /* .cost-calculation__box-title */

    &__box-title {
        margin-bottom: 1.55em;

        @include _1200 {
            grid-area: title;
            padding-top: 1.4em;
            margin-right: 1.25em;
            margin-bottom: 2.15rem;
        }

        &.seamless {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: 4.5rem;
                width: 4.5rem;
                right: 0;
                bottom: -0.2em;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22.5' cy='22.5' r='22.5' fill='%232579BF'/%3E%3Cpath d='M14.0538 12.7928C13.2631 13.0917 12.7086 13.3666 12.3904 13.6173C11.7733 14.1091 11.4502 14.7648 11.4213 15.5844C11.6817 15.1216 12.0433 14.7792 12.5061 14.5575C12.969 14.326 13.4463 14.2103 13.9381 14.2103C14.8927 14.2103 15.64 14.5189 16.18 15.136C16.72 15.7435 16.99 16.5535 16.99 17.566C16.99 18.5689 16.6815 19.3982 16.0643 20.0539C15.4472 20.7096 14.6227 21.0375 13.5909 21.0375C12.4531 21.0375 11.5949 20.6758 11.0163 19.9526C10.4377 19.2198 10.1484 18.1735 10.1484 16.8139C10.1484 15.3192 10.3895 14.191 10.8717 13.4292C11.3538 12.6578 12.2409 12.0214 13.5331 11.52C13.7742 11.4235 14.0875 11.3078 14.4733 11.1728C14.8686 11.0282 15.1145 10.9366 15.2109 10.898C15.8281 10.6762 16.209 10.7678 16.3536 11.1728C16.4983 11.5875 16.3199 11.9105 15.8184 12.1419C15.6738 12.2094 15.4038 12.3107 15.0084 12.4457C14.6131 12.5807 14.2949 12.6964 14.0538 12.7928ZM14.8493 19.1137C15.1579 18.7569 15.3122 18.2603 15.3122 17.6239C15.3122 16.9875 15.1627 16.4908 14.8638 16.1341C14.5649 15.7773 14.1406 15.5989 13.5909 15.5989C13.0702 15.5989 12.6556 15.7821 12.347 16.1485C12.0384 16.515 11.8842 17.0164 11.8842 17.6528C11.8842 18.2796 12.0336 18.7714 12.3325 19.1282C12.6315 19.4753 13.0461 19.6489 13.5765 19.6489C14.1261 19.6489 14.5504 19.4705 14.8493 19.1137Z' fill='white'/%3E%3Cpath d='M23.3105 17.9421H19.6221C19.6414 18.4917 19.8198 18.9257 20.1573 19.2439C20.4948 19.5621 20.9432 19.7212 21.5024 19.7212C21.9267 19.7212 22.4378 19.5958 23.0357 19.3451C23.46 19.1716 23.7589 19.2391 23.9325 19.5476C24.0192 19.6923 24.0337 19.8562 23.9758 20.0394C23.9276 20.213 23.8119 20.3576 23.6287 20.4733C23.0694 20.8494 22.3076 21.0375 21.3433 21.0375C20.2633 21.0375 19.4341 20.7192 18.8555 20.0828C18.2866 19.4464 18.0021 18.5448 18.0021 17.378C18.0021 16.2498 18.3058 15.3482 18.9133 14.6732C19.5208 13.9982 20.3405 13.6607 21.3723 13.6607C22.298 13.6607 23.0212 13.9258 23.5419 14.4562C24.0723 14.9769 24.3375 15.6712 24.3375 16.5391C24.3375 16.8187 24.3133 17.0453 24.2651 17.2189C24.1976 17.4696 24.0916 17.6528 23.9469 17.7685C23.8023 17.8842 23.5901 17.9421 23.3105 17.9421ZM21.3723 14.9769C20.8612 14.9769 20.4514 15.136 20.1428 15.4542C19.8439 15.7628 19.6703 16.2112 19.6221 16.7994H22.8187C22.8283 16.703 22.8332 16.5825 22.8332 16.4378C22.8332 16.0039 22.7078 15.6519 22.4571 15.3819C22.216 15.1119 21.8544 14.9769 21.3723 14.9769Z' fill='white'/%3E%3Cpath d='M27.5539 15.0492C27.1779 15.0492 26.7102 15.1553 26.1509 15.3675C25.6784 15.541 25.3602 15.4687 25.1963 15.1505C25.0227 14.7648 25.1432 14.4466 25.5579 14.1958C26.1364 13.8391 26.8693 13.6607 27.7564 13.6607C28.5761 13.6607 29.1981 13.8391 29.6223 14.1958C30.0563 14.543 30.2732 15.001 30.2732 15.57C30.2732 15.9364 30.1672 16.2739 29.955 16.5825C29.7429 16.8814 29.4632 17.0839 29.1161 17.19C29.5211 17.2767 29.8441 17.4648 30.0852 17.7541C30.3263 18.0337 30.4468 18.3857 30.4468 18.81C30.4468 19.4946 30.2057 20.0394 29.7236 20.4444C29.2511 20.8398 28.5616 21.0375 27.6552 21.0375C26.6427 21.0375 25.8761 20.8832 25.3554 20.5746C24.9697 20.3335 24.8539 20.0201 25.0082 19.6344C25.1432 19.2969 25.4373 19.2005 25.8906 19.3451C26.5559 19.5476 27.0911 19.6489 27.4961 19.6489C28.3639 19.6489 28.7979 19.3451 28.7979 18.7376C28.7979 18.1398 28.3206 17.8408 27.3659 17.8408H26.7873C26.3245 17.8408 26.0931 17.6576 26.0931 17.2912C26.0931 16.9151 26.3245 16.7271 26.7873 16.7271H27.3081C28.1856 16.7271 28.6243 16.433 28.6243 15.8448C28.6243 15.3144 28.2675 15.0492 27.5539 15.0492Z' fill='white'/%3E%3Cpath d='M10.51 32.093V26.6978C10.51 26.4567 10.5775 26.2591 10.7125 26.1048C10.8572 25.9408 11.0549 25.8589 11.3056 25.8589C11.5659 25.8589 11.7636 25.9408 11.8986 26.1048C12.0433 26.2591 12.1156 26.4567 12.1156 26.6978V31.5578H14.2129V26.6978C14.2129 26.4567 14.2804 26.2591 14.4154 26.1048C14.56 25.9408 14.7577 25.8589 15.0084 25.8589C15.2688 25.8589 15.4665 25.9408 15.6015 26.1048C15.7461 26.2591 15.8184 26.4567 15.8184 26.6978V31.5578H17.9158V26.6978C17.9158 26.4567 17.9833 26.2591 18.1183 26.1048C18.2629 25.9408 18.4606 25.8589 18.7113 25.8589C18.9717 25.8589 19.1693 25.9408 19.3043 26.1048C19.449 26.2591 19.5213 26.4567 19.5213 26.6978V32.093C19.5213 32.3437 19.449 32.551 19.3043 32.715C19.1597 32.8692 18.9524 32.9464 18.6824 32.9464H11.32C11.0597 32.9464 10.8572 32.8692 10.7125 32.715C10.5775 32.5607 10.51 32.3533 10.51 32.093Z' fill='white'/%3E%3Cpath d='M21.2594 32.0062V26.8714C21.2594 26.341 21.5053 26.0276 21.9971 25.9312C22.4599 25.8444 23.1012 25.801 23.9208 25.801C24.8947 25.801 25.6131 25.9794 26.076 26.3362C26.5485 26.6833 26.7847 27.1462 26.7847 27.7248C26.7847 28.0719 26.698 28.3853 26.5244 28.665C26.3508 28.9446 26.1049 29.1471 25.7867 29.2725C26.2013 29.3496 26.5292 29.528 26.7703 29.8076C27.021 30.0776 27.1463 30.42 27.1463 30.8346C27.1463 32.2907 26.0856 33.0187 23.9642 33.0187C23.1542 33.0187 22.5081 32.9753 22.026 32.8885C21.5149 32.8114 21.2594 32.5173 21.2594 32.0062ZM24.1522 29.9089H22.8505V31.6591C23.188 31.6976 23.5881 31.7169 24.051 31.7169C25.0153 31.7169 25.4974 31.3987 25.4974 30.7623C25.4974 30.1933 25.049 29.9089 24.1522 29.9089ZM23.9208 27.1028C23.5062 27.1028 23.1494 27.1221 22.8505 27.1607V28.8819H23.9208C24.779 28.8819 25.2081 28.583 25.2081 27.9851C25.2081 27.3969 24.779 27.1028 23.9208 27.1028Z' fill='white'/%3E%3Cpath d='M32.5681 32.1075V31.8471C32.0956 32.6764 31.3242 33.091 30.2538 33.091C29.5306 33.091 28.9617 32.8982 28.547 32.5125C28.142 32.1267 27.9395 31.6108 27.9395 30.9648C27.9395 30.1451 28.2336 29.5473 28.8218 29.1712C29.4197 28.7855 30.1622 28.5926 31.0493 28.5926C31.6568 28.5926 32.1631 28.6264 32.5681 28.6939V28.5348C32.5681 28.0719 32.4668 27.7151 32.2643 27.4644C32.0618 27.2041 31.6713 27.0739 31.0927 27.0739C30.9674 27.0739 30.8468 27.0787 30.7311 27.0883C30.6154 27.098 30.4949 27.1173 30.3695 27.1462C30.2538 27.1751 30.1574 27.2041 30.0802 27.233C30.0031 27.2523 29.8874 27.286 29.7331 27.3342C29.5788 27.3825 29.4631 27.4162 29.3859 27.4355C29.2124 27.4933 29.0436 27.4933 28.8797 27.4355C28.7254 27.3776 28.6193 27.2667 28.5615 27.1028C28.4458 26.7653 28.5663 26.4809 28.9231 26.2494C29.4534 25.8926 30.2393 25.7142 31.2808 25.7142C33.1804 25.7142 34.1302 26.611 34.1302 28.4046V32.1075C34.1302 32.3582 34.0627 32.5607 33.9277 32.715C33.8024 32.8692 33.6095 32.9464 33.3492 32.9464C33.0888 32.9464 32.8911 32.8692 32.7561 32.715C32.6308 32.551 32.5681 32.3485 32.5681 32.1075ZM30.6877 31.8182C31.2663 31.8182 31.7243 31.6301 32.0618 31.2541C32.3993 30.8683 32.5681 30.4296 32.5681 29.9378V29.6919C32.2595 29.6437 31.8304 29.6196 31.2808 29.6196C30.1236 29.6196 29.545 30.0246 29.545 30.8346C29.545 31.1335 29.6463 31.3746 29.8488 31.5578C30.0513 31.7314 30.3309 31.8182 30.6877 31.8182Z' fill='white'/%3E%3C/svg%3E%0A");

                @include _768 {
                    width: 5.6rem;
                    height: 5.6rem;
                }

                @include _1200 {
                    bottom: 0;
                }
            }
        }
    }

    /* .cost-calculation__item-title */

    &__item-title {
        text-align: center;
        margin-bottom: 1.5em;

        @include _1200 {
            text-align: left;
            margin-bottom: 2.8rem;
        }
    }

    /* .cost-calculation__price */

    &__price {
        margin-bottom: 0.2em;
        font-size: 2.4rem;
        
        &::after {
            font-size: 1.5rem;
            
            @include _768 {
                font-size: 2rem;
            }
        }
        
        @include _768 {
            font-size: 3rem;
            line-height: 0.95;
        }

        @include _1200 {
            line-height: 0.65;
        }
    }

    /* .cost-calculation__price-info */

    &__price-info {
        color: #e6e6e6;
        font-size: 1.1rem;

        @include _768 {
            font-size: 1.3rem;
        }

        @include _1200 {
            font-size: 1.4rem;
        }
    }

    /* .cost-calculation__box-img */

    &__box-img {
        width: 100%;
        height: 20.6rem;
        margin-bottom: 1.55em;

        @include _768 {
            height: 35.3rem;
            margin-bottom: 2.6rem;
        }

        @include _1200 {
            height: 28rem;
            margin-bottom: 0;
            grid-area: img;
            margin-right: 0.95em;
        }
    }

    /* .cost-calculation__img */

    &__img {
        width: 100%;
        height: 100%;
    }

    /* .cost-calculation__box-list */

    &__box-list {
        @include _1200 {
            grid-area: list;
            padding-right: 1.9em;
        }
    }

    /* .cost-calculation__list */

    &__list {
        &.list-open {
            .item-none {
                display: none;
            }
        }
        margin-bottom: 1.8em;

        @include _768 {
            margin-bottom: 1.5rem;
        }
    }

    /* .cost-calculation__list-item */

    &__list-item {
        display: flex;
        justify-content: space-between;
        line-height: 1.5;
    }

    /* .cost-calculation__link */

    &__link {
        text-decoration: none;
        cursor: pointer;
        position: relative;

        &::before {
            content: "Скрыть";
        }

        &.btn-open {
            &::before {
                content: "Показать полный список";
            }
        }
        @include _1200 {
            margin-bottom: 1rem;
        }
    }
}
