.icons {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1em;
    }
    .icon {
        width: 5em;
        height: 5em;
        margin-right: 1em;
    }

    &__box {
        width: 32%;
        display: flex;
        align-items: center;
        background-color: lavender;
        border-radius: .6rem;
        margin-bottom: 1.2em;
        padding: 1rem;
    }
    &__title {
        margin-bottom: 1em;
    }
}