@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.stages-of-ceiling-installation {
    /* .stages-of-ceiling-installation__title */

    &__title {
        margin-bottom: 2.5rem;

        @include _768 {
            margin-bottom: 3rem;
        }
    }

    /* .stages-of-ceiling-installation__inner */

    &__inner {
        flex-wrap: wrap;
        margin-bottom: 2.5rem;

        @include _768 {
            margin-bottom: 3rem;
        }
    }

    /* .stages-of-ceiling-installation__box-img */

    &__box-img {
        position: relative;
        width: 100%;
        height: 19.6rem;
        margin-bottom: 1rem;

        @include _768 {
            max-width: 34.6rem;
            height: 19.9rem;
            margin-bottom: 1.5rem;
        }

        @include _1200 {
            max-width: 47rem;
            height: 27rem;
            margin-bottom: 2rem;
        }
    }

    /* .stages-of-ceiling-installation__img */

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* .stages-of-ceiling-installation__img-icon*/

    &__img-icon {
        position: absolute;
        right: 6.3em;
        bottom: 2.5em;
        transform: rotate(15deg);
        width: 5rem;
        height: 1.68rem;
        z-index: 1;

        @include _768 {
            width: 7.3rem;
            height: 1.76rem;
            right: 5.4em;
            bottom: 3.1em;
        }

        @include _1200 {
            width: 8.3rem;
            height: 2.76rem;
            right: 7.7em;
            bottom: 3.8em;
        }
    }

    /* .stages-of-ceiling-installation__link */

    &__link {
        @include _768 {
            max-width: 30.6rem;
            margin: 0 auto;
            margin-top: -1.5rem;
        }
        @include _1200 {
            margin-top: -2rem;
        }
    }
}
