@import '../../base/all/var';

.gallery-works {
    .title {
        margin-bottom: 3rem;
    }

    &__tabs,
    &__content,
    .button {
        max-width: 34.5rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.3rem;
        justify-content: space-between;
    }

    &__tab,
    &__pagination-item {
        cursor: pointer;
    }

    &__tab {
        flex-basis: 48%;
        margin-bottom: 1.2rem;
        color: #969693;
        transition: color 0.2s;

        &:hover {
            color: $orange;
        }

        &.active {
            color: $orange;
        }
    }

    &__content {
        &-item {
            margin-bottom: 1.6rem;

            &.show {
                display: block;
            }

            &.hide,
            &.hidden {
                display: none;
            }

            img {
                display: block;
                margin-bottom: 1.7rem;
                width: 100%;
                cursor: pointer;
            }
        }

        &-text {
            color: #3A3A3A;
        }
    }

    &__pagination {
        display: none;
    }

    @media (min-width: 768px) {
        .container {
            width: calc(100% - 6rem);
        }

        &__tabs,
        &__content {
            max-width: 70.8rem;
        }

        &__tabs {
            justify-content: normal;
            margin-bottom: 1.5rem;
        }

        &__tab,
        &__pagination-item {
            font-size: 1.8rem;
        }

        &__tab {
            flex-basis: auto;
            margin-bottom: 1.4rem;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(11),
            &:nth-child(12) {
                margin-left: 4.7rem;
            }

            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                margin-left: 4rem;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            margin-bottom: 1.8rem;

            &-item {
                flex-basis: 22.6rem;
                margin-bottom: 1.4rem;

                img {
                    margin-bottom: 1.2rem;
                }

                &.hidden {
                    display: block;
                }
            }

            &-box {
                max-width: 15rem;
                line-height: 1.2;
            }
        }

        .button {
            display: none;
        }

        &__pagination {
            display: flex;
            max-width: 65.3rem;
            margin-right: auto;
            margin-left: auto;
            
            &-item {
                color: #969693;
                transition: color 0.2s;

                &:hover {
                    color: $orange;
                }

                &.active {
                    color: $orange;
                }

                &.number {
                    margin-left: 1.3rem;
                }

                &.prev {
                    margin-left: 5rem;
                    margin-right: 3.7rem;
                }

                &.next {
                    margin-left: 3.6rem;
                    margin-right: 5rem;
                }
            }
        }
    }

    @media (min-width: 1200px) {
        .title {
            margin-bottom: 3.2rem;
        }

        &__tabs,
        &__content {
            max-width: none;
        }

        &__tabs {
            margin-bottom: 1.7rem;
        }

        &__tab {
            margin-bottom: 1.1rem;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                margin-left: 5.7rem;
            }

            &:nth-child(6),
            &:nth-child(12) {
                margin-left: auto;
            }

            &:nth-child(7) {
                margin-left: 0;
            }

            &:nth-child(10) {
                margin-left: 3.6rem;
            }

            &:nth-child(11) {
                margin-left: 3.9rem;
            }
        }

        &__content {
            margin-bottom: 0;

            &-item {
                flex-basis: 30.7rem;
                margin-bottom: 3rem;

                img {
                    margin-bottom: 1.6rem;
                }
            }

            &-box {
                max-width: none;
            }
        }
    }
}