@font-face {
    font-family: 'Gotham';
    src: local('Gotham black'), local('Gotham-Black'),
        url('Gotham-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham Bold'), local('Gotham-Bold'),
        url('Gotham-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham Medium'), local('Gotham-Medium'),
        url('Gotham-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham book'), local('Gotham-book'),
        url('Gotham-book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamSSm';
    src: local('GothamSSm Black'), local('GothamSSm-Black'),
        url('GothamSSm-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}