.window-installation {

    &-tape,
    &-tape:before,
    &-tape:after {
        position: absolute;
    }

    &-tape {
        top: 2em;
        left: 1em;
        min-width: 16.3rem;
        z-index: 1;
        
        &__text,
        &__day {
            display: block;
            transform: skew(-7deg, -2deg);
        }

        &:before,
        &:after {
            content: '';
        }

        &:before,
        &__text {
            background-color: $orange;
        }

        &:before {
            top: -0.9em;
            left: -0.7em;
            width: 4.2rem;
            height: 4.7rem;
            opacity: 0.65;
            transform: skew(-7deg, -2deg);
        }

        &:after {
            top: -0.8em;
            left: -0.4em;
            width: 3rem;
            height: 4.5rem;
            transform: skew(0deg, -23deg) translate(1.1rem, 1.2rem);
            background-color: #8C0000;
        }
        
        &__text {
            position: relative;
            z-index: 1;
            padding: 0.3em 0.6em;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 2.7rem;
            text-transform: uppercase;
            color: #ffffff;
        }

    }

    @media (min-width: 768px) {

        &-tape {
            left: 5em;

            &__text {
                padding-left: 1.3em;
                padding-right: 1.3em;
            }
        }

    }

    @media (min-width: 1200px) {


        &-tape {
            min-width: 27rem;
            top: 3.8em;
            left: -11em;

            &:before {
                width: 6.3rem;
                height: 7.5rem;
                left: -1.5em;
            }

            &:after {
                width: 4.2rem;
                height: 6.7rem;
            }

            &__text {
                font-size: 5rem;
            }
        }

    }

}