@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.choose-your-bathroom-renovation {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* .choose-your-bathroom-renovation__title */

    &__title {
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 2.2rem;

        @include _768 {
            line-height: 1.1;
            margin-bottom: 3rem;
        }

        @include _1200 {
            line-height: 1.2;
        }
    }

    /* .choose-your-bathroom-renovation__slider */

    &__slider {
        margin-bottom: 3rem;

        .owl-stage-outer {
            filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
        }

        .pagination.active {
            background-color: $blue;
        }

        @include _768 {
            max-width: 63rem;
            margin: 0 auto;
            margin-bottom: 3.8rem;
        }

        @include _1200 {
            max-width: 100%;
        }
    }

    /* .choose-your-bathroom-renovation__item */

    &__item {
        background-color: #ffffff;
        max-width: 30.6rem;
        margin: 0 auto;
        border-radius: 0.6rem;
        overflow: hidden;
        text-align: center;

        @include _768 {
            margin: 0;
        }
    }

    /* .choose-your-bathroom-renovation__item-img */

    &__item-img {
        height: 18.8rem;
    }

    /* .choose-your-bathroom-renovation__item-title */

    &__item-title {
        color: #fff;
        background-color: $orange;
        font-size: 1.8rem;
        padding: 0.9rem;
        line-height: 1.25;
        margin-bottom: 2.2rem;
    }

    /* .choose-your-bathroom-renovation__item-old-price */

    &__item-old-price {
        font-size: 1.8rem;
        line-height: 1.2;
        color: $darkGray;
        display: inline-block;
        position: relative;
        margin-bottom: 1.5rem;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.1rem;
            background-color: $orange;
            transform: rotate(8deg);
            top: 45%;
        }
    }

    /* .choose-your-bathroom-renovation__item-new-price */

    &__item-new-price {
        font-size: 3rem;
        margin-bottom: 2.2rem;

        &::after {
            color: $orange;
        }
    }

    /* .choose-your-bathroom-renovation__item-btn */

    &__item-btn {
        max-width: 27.6rem;
        background-color: #fff;
        border: 0.1rem solid $orange;
        color: $orange;
        margin-bottom: 2.5rem;

        @include _768 {
            margin-bottom: 2rem;
        }
    }
}