@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.window-repair {
    /* .window-repair__inner */

    &__inner {
        position: relative;
        flex-direction: column;

        @include _768 {
            flex-direction: row;
        }

        @include _1200 {
            padding: 0 8.2rem;
        }
    }

    .bg-block {
        background-image: url(/wp-content/themes/twentytwenty-child/img/repair/window-repair-bg-mob.webp);
        background-size: auto;
        position: relative;
        border-radius: 0.6rem;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
        }

        @include _768 {
            background-image: url(/wp-content/themes/twentytwenty-child/img/repair/window-repair-bg-pc.webp);
        }
    }

    /* .window-repair__big-block */

    &__big-block {
        width: 100%;
        padding: 3rem 1.4rem;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;

        @include _768 {
            max-width: 34.7rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            margin-bottom: 0;
            margin-right: 1.5rem;
        }

        @include _1200 {
            max-width: 38.8rem;
            margin-right: 2rem;
            padding-top: 4.7rem;
            padding-bottom: 3.9rem;
        }
    }

    /* .window-repair__title */

    &__title {
        position: relative;
        line-height: 1.2;
        padding-right: 4rem;
        margin-bottom: 1.3rem;

        @include _768 {
            margin-bottom: 2.7rem;
        }

        @include _1200 {
            font-size: 3rem;
            line-height: 1.1;
        }
    }

    /* .window-repair__text */

    &__text {
        position: relative;
        line-height: 1.2;
        margin-bottom: 3.1rem;

        @include _768 {
            margin-bottom: 5.2rem;
        }

        @include _1200 {
            line-height: 1.25;
            margin-bottom: 6.9rem;
        }
    }

    /* .window-repair__btn */

    &__btn {
        position: relative;
        max-width: 29.2rem;
        margin-left: 0;

        @include _1200 {
            min-width: 31.5rem;
        }
    }

    /* .window-repair__link */

    &__link {
        position: relative;
        text-decoration: none;
    }

    /* .window-repair__box-block */

    &__box-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* .window-repair__block */

    &__block {
        padding: 1.4rem;
        max-width: 16.5rem;

        &:first-child,
        &:nth-child(2) {
            margin-bottom: 1.5rem;

            @include _1200 {
                margin-bottom: 2.3rem;
            }
        }

        &:nth-child(1) {
            background-position: 0% 65%;

            @include _768 {
                background-position: 56% 0%;
            }

            @include _1200 {
                background-position: 67% 0%;
            }
        }

        &:nth-child(2) {
            background-position: 100% 65%;

            @include _768 {
                background-position: 81% 3%;
            }

            @include _1200 {
                background-position: 100% 0;
            }
        }

        &:nth-child(3) {
            background-position: 0% 100%;

            @include _768 {
                background-position: 56% 78%;
            }

            @include _1200 {
                background-position: 65% 100%;
            }
        }

        &:nth-child(4) {
            background-position: 100% 100%;

            @include _768 {
                background-position: 83% 80%;
            }

            @include _1200 {
                background-position: 100% 100%;
            }
        }

        @include _768 {
            padding: 1.5rem;
        }

        @include _1200 {
            max-width: 18.2rem;
        }
    }

    /* .window-repair__block-icon */

    &__block-icon {
        position: relative;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        background-color: #fff;
        border: 0.1rem solid $orange;
        text-align: center;
        margin-bottom: 0.8rem;

        .block-icon {
            fill: $orange;
            width: 1em;
            height: 100%;
            font-size: 2em;

            &--fz {
                font-size: 1.7em;
            }

            @include _1200 {
                font-size: 2.3em;
            }
        }

        @include _768 {
            border-width: 0.2rem;
        }

        @include _1200 {
            width: 6.2rem;
            height: 6.2rem;
            margin-bottom: 1rem;
        }
    }

    /* .window-repair__block-text */

    &__block-text {
        position: relative;
        line-height: 1.2;
        padding-right: 4rem;

        @include _768 {
            padding-right: 3rem;
        }

        @include _1200 {
            padding-right: 5rem;
        }
    }
}
