@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.our-repair-is-advised {

    /* .our-repair-is-advised__title */

    &__title {
        line-height: 1.2;
        margin-bottom: 2.5rem;

        @include _768 {
            line-height: 1.1;
            margin-bottom: 3.2rem;
        }

        @include _1200 {
            line-height: 1.2;
        }
    }

    /* .our-repair-is-advised__list */

    &__list {
        line-height: 1.15;
        margin-bottom: 2.5rem;

        @include _768 {
            margin-bottom: 3.1rem;
        }
    }

    /* .our-repair-is-advised__list-item */

    &__list-item {
        padding-left: 3.5rem;
        margin-bottom: 1.5rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 0.95em;
            width: 0.95em;
            border-radius: 50%;
            border: 0.1rem solid $orange;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.74408 7.30247L0.888203 4.30618C0.716628 4.12616 0.716628 3.8343 0.888203 3.65427L1.50954 3.00235C1.68112 2.82232 1.95933 2.82232 2.1309 3.00235L4.05475 5.02079L8.17543 0.697509C8.34701 0.517497 8.62521 0.517497 8.79679 0.697509L9.41813 1.34942C9.58971 1.52943 9.58971 1.8213 9.41813 2.00133L4.36543 7.30249C4.19384 7.4825 3.91565 7.4825 3.74408 7.30247Z' fill='black'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 0.45em;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include _768 {

            &::before {
                font-size: 1.3em;
            }
        }
    }

    /* .our-repair-is-advised__slider */

    &__slider {
        margin-bottom: 6.2rem;

        .pagination.active {
            background-color: $blue;
        }

        @include _768 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 2.3rem;
        }

        @include _1200 {
            margin-bottom: 2.7rem;
        }
    }

    /* .our-repair-is-advised__item */

    &__item {
        background-repeat: no-repeat;
        height: 33.6rem;
        border-radius: 0.6rem;
        background-size: cover;
        padding: 1.1rem;
        padding-bottom: 4.4rem;
        position: relative;
        overflow: hidden;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 19rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            bottom: 0;
            left: 0;
        }

        @include _768 {
            max-width: 34.6rem;
            height: 34.6rem;
            margin-bottom: 1.5rem;
        }

        @include _1200 {
            max-width: 30.6rem;
            height: 30.6rem;
            margin-bottom: 2rem;
            padding-bottom: 3rem;
        }
    }

    /* .our-repair-is-advised__item-title */

    &__item-title {
        position: relative;
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    /* .our-repair-is-advised__item-text */

    &__item-text {
        position: relative;
        font-weight: 700;
        line-height: 1;
    }

    /* .our-repair-is-advised__icon-text */

    &__icon-text {
        padding-left: 7.4rem;
        position: relative;
        margin-bottom: 2.7rem;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 4.8rem;
            width: 4.8rem;
            border-radius: 50%;
            border: 0.1rem solid $orange;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 14.4841C0.00987824 14.4841 0.0234608 14.4841 0.0271652 14.4841C0.554416 13.8853 1.24589 13.8322 1.98182 13.8556C2.86345 13.884 3.74756 13.8655 4.63042 13.8556C4.83238 13.8437 5.03469 13.8722 5.22551 13.9394C5.41633 14.0066 5.59182 14.1112 5.74173 14.2471C5.95781 14.4545 6.1739 14.4335 6.41098 14.3298C6.82957 14.1483 7.12838 13.8272 7.3988 13.4654C8.21129 12.3813 8.75706 11.1527 9.29295 9.9241C9.5041 9.44377 9.6708 8.93627 9.9548 8.49916C10.2598 8.03488 10.671 7.63481 11.05 7.22734C11.2153 7.06636 11.3947 6.92049 11.5859 6.79146C12.5367 6.08023 12.8874 5.04425 13.08 3.95147C13.2492 2.9834 13.3356 2.01039 13.4591 1.04479C13.5455 0.394065 13.9666 0.0236314 14.6309 0.00140536C15.3493 -0.0187018 16.0571 0.177347 16.6627 0.564158C17.2684 0.950969 17.7439 1.51072 18.0278 2.17091C18.6192 3.56251 18.6044 5.00103 18.129 6.40868C17.8364 7.27302 17.3882 8.08674 17.0239 8.92763C16.8412 9.34869 16.6634 9.77345 16.5177 10.2069C16.3942 10.5773 16.4423 10.5995 16.8251 10.6008C18.3365 10.6008 19.8479 10.5884 21.358 10.6353C22.063 10.6576 22.7928 10.6995 23.4386 11.0428C24.1795 11.4355 24.6894 12.0504 25.05 12.7962C25.0932 12.8993 25.1139 13.0104 25.1105 13.1222C25.1167 13.6852 25.1031 14.2495 25.1179 14.8126C25.1291 15.0362 25.0575 15.256 24.9166 15.43C24.8328 15.543 24.7565 15.6614 24.6882 15.7844C24.6662 15.8147 24.6504 15.8492 24.6418 15.8857C24.6332 15.9223 24.632 15.9601 24.6382 15.9971C24.6444 16.0341 24.6579 16.0695 24.678 16.1013C24.698 16.133 24.7241 16.1604 24.7549 16.182C24.8905 16.291 24.9959 16.4332 25.0607 16.5947C25.1256 16.7562 25.1478 16.9317 25.1253 17.1043C25.0887 17.4326 25.0887 17.7639 25.1253 18.0922C25.1982 18.6478 24.971 19.0639 24.5758 19.401C24.3486 19.5949 24.3684 19.7801 24.461 20.0184C24.6178 20.4284 24.8018 20.8371 24.8783 21.2643C25.0117 22.0052 24.6018 22.5547 24.1029 23.0449C24.0301 23.1177 23.9609 23.1943 23.8843 23.2634C23.5016 23.6067 23.3065 23.9919 23.3719 24.5476C23.4645 25.3354 23.0422 25.9404 22.5076 26.48C21.5 27.4962 20.264 27.9618 18.8576 27.9803C17.6932 28 16.5288 28.0124 15.3656 27.9803C13.1146 27.9099 10.8722 27.7506 8.66692 27.2394C7.86431 27.0554 7.04812 26.927 6.23564 26.7875C6.18354 26.7808 6.13061 26.7853 6.08037 26.8006C6.03013 26.8159 5.98372 26.8418 5.94423 26.8764C5.75817 27.0697 5.5325 27.2204 5.2827 27.3182C5.0329 27.416 4.76489 27.4587 4.49707 27.4432C3.54011 27.4271 2.58069 27.4197 1.62374 27.4432C0.968067 27.4604 0.428469 27.2604 0.00123478 26.7616L0 14.4841ZM6.42086 20.5975H6.45913C6.45913 22.1188 6.45913 23.6413 6.45913 25.1662C6.45913 25.3848 6.5147 25.4786 6.7456 25.5095C7.2 25.5712 7.65193 25.6589 8.10386 25.7564C10.3722 26.2504 12.6614 26.5813 14.9878 26.606C16.283 26.6196 17.5808 26.6331 18.8736 26.6171C19.9936 26.6035 20.9579 26.201 21.7136 25.349C21.9198 25.1168 22.0902 24.8649 22.0346 24.5427C21.9789 24.2367 21.9914 23.9223 22.0713 23.6218C22.1511 23.3212 22.2963 23.042 22.4965 22.8041C22.7662 22.4678 23.0547 22.147 23.3608 21.8434C23.4532 21.7634 23.5149 21.6538 23.5354 21.5333C23.5559 21.4128 23.5339 21.2889 23.4732 21.1828C23.346 20.9215 23.2371 20.6516 23.1472 20.3753C22.9434 19.6764 22.9681 19.017 23.5682 18.4935C23.6596 18.4102 23.7424 18.318 23.8152 18.2181C24.0696 17.8773 24.1758 17.4933 23.767 17.0945C23.2077 16.5487 23.1373 15.8473 23.5016 15.1596C23.5718 14.9954 23.6609 14.8401 23.767 14.6965C24.1585 14.2508 24.1177 13.8038 23.8177 13.3383C23.7307 13.1823 23.6342 13.0318 23.5287 12.8876C23.183 12.469 22.8014 12.1146 22.2026 12.0924C21.679 12.0726 21.158 11.9763 20.6356 11.9689C19.5663 11.9528 18.4958 11.9849 17.4252 11.9689C16.8473 11.9689 16.267 11.922 15.6965 11.8627C15.5475 11.8513 15.4081 11.7842 15.3061 11.6749C15.2041 11.5656 15.1469 11.422 15.1458 11.2725C15.1099 10.8362 15.1223 10.3972 15.1829 9.96361C15.3384 9.08321 15.8002 8.31641 16.209 7.5385C16.8671 6.29137 17.277 5.0035 17.0474 3.56745C16.8696 2.45615 16.0892 1.57081 15.0964 1.38436C14.8803 1.34361 14.7939 1.38436 14.7717 1.62144C14.7062 2.32032 14.6358 3.02044 14.5247 3.72056C14.3605 4.78247 14.1271 5.84932 13.4863 6.72355C13.0331 7.34094 12.4083 7.83485 11.8452 8.37321C11.5094 8.69179 11.1834 9.00789 11.0081 9.45118C10.8599 9.82161 10.6895 10.192 10.5277 10.5625C9.9264 11.9306 9.3053 13.2864 8.3681 14.4681C7.9347 15.0151 7.42967 15.4757 6.74066 15.6634C6.48506 15.7325 6.42703 15.8572 6.4295 16.0992C6.4295 17.5933 6.42086 19.0948 6.42086 20.5975ZM5.01074 20.6605C5.01074 19.0281 5.01074 17.3949 5.01074 15.7609C5.01074 15.3127 4.90578 15.2065 4.46743 15.2052C3.51089 15.2052 2.55352 15.2052 1.59534 15.2052C1.12488 15.2052 1.01869 15.3127 1.01869 15.7893C1.01869 19.0368 1.01869 22.2847 1.01869 25.5329C1.01869 25.9898 1.12735 26.0985 1.58052 26.0997C2.53871 26.0997 3.49648 26.0997 4.45385 26.0997C4.91195 26.0997 5.01074 25.9985 5.01074 25.5329C5.01485 23.9096 5.01609 22.2855 5.01444 20.6605H5.01074Z' fill='%23F26422'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
        }

        @include _768 {
            margin-bottom: 2.9rem;
            font-size: 1.8rem;
            padding-right: 6rem;
        }

        @include _1200 {
            padding-left: 8.2rem;
            margin-bottom: 3.9rem;

            &::before {
                transform: translateY(-35%);
            }
        }
    }

    /* .our-repair-is-advised__text */

    &__text {
        line-height: 1.15;
        margin-bottom: 2.5rem;

        @include _768 {
            line-height: 1.2;
            margin-bottom: 3rem;
        }
    }

    /* .our-repair-is-advised__form */

    &__form {
        @include _768 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    /* .our-repair-is-advised__input */

    &__input {
        background: #ffffff;
        border: 0.1rem solid #d0d0d0;
        border-radius: 0.6rem;
        width: 100%;
        max-width: 100%;
        height: 3.5rem;
        padding: 0.5rem;
        padding-left: 4.4rem;
        margin-bottom: 1rem;

        &::placeholder {
            font-size: 1.4rem;
        }

        @include _768 {
            height: 4rem;
            margin-bottom: 0;
            padding-left: 5.4rem;

            &::placeholder {
                font-size: 1.6rem;
            }
        }
    }

    /* .our-repair-is-advised__lable */

    &__lable {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;

        &::before {
            content: "";
            position: absolute;
            left: 1.6rem;
            top: 50%;
            transform: translateY(-50%);
            width: 0.9em;
            height: 0.9em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        @include _768 {
            max-width: 34.6rem;
            margin-bottom: 1.5rem;

            &::before {
                font-size: 1.3em;
            }
        }

        @include _1200 {
            max-width: 30.7rem;
            margin: 0;
        }
    }

    /* .our-repair-is-advised__lable--tel */

    &__lable--tel {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5474 10.1236C13.4921 10.0688 12.9881 9.59072 12.2386 9.59072C11.7878 9.59072 11.3596 9.7596 10.9396 10.1167C10.4025 10.5728 9.84747 11.0451 9.24035 11.0451C8.82458 11.0451 8.38315 10.8273 7.89271 10.3796C7.56795 10.0819 6.97756 9.49625 6.67808 9.17545C5.52063 7.92849 6.02507 7.2144 6.96667 6.1263C7.8297 5.12765 7.42094 4.04996 6.9585 3.59227C6.91027 3.53868 5.77187 2.27861 5.21687 1.72839C4.86839 1.38329 4.37717 0.986919 3.6666 0.986919C3.13143 0.986919 2.5772 1.21403 1.97203 1.68058C1.43142 2.09584 0.802907 2.81071 0.104389 3.80627C0.0211578 3.92503 -0.0142349 4.07039 0.00521164 4.21344C0.448981 7.49587 1.84718 10.385 4.04814 12.5666L4.47129 12.9861C6.67186 15.1677 9.58533 16.5535 12.8978 16.9946C12.9231 16.9981 12.9496 17 12.9749 17C13.0939 17 13.2098 16.9641 13.3078 16.8959C14.312 16.2022 15.0339 15.5795 15.4508 15.0455C16.7059 13.4469 16.0245 12.4436 15.4029 11.8275C14.8483 11.2776 13.5777 10.149 13.5474 10.1236ZM14.5294 14.3364C14.2128 14.7417 13.6271 15.2506 12.8275 15.817C9.86536 15.3783 7.26498 14.1201 5.29621 12.1683L4.87306 11.7484C2.90391 9.79662 1.63483 7.21864 1.193 4.28207C1.76279 3.49048 2.27695 2.90941 2.68688 2.59363C3.07503 2.2948 3.40446 2.14288 3.6666 2.14288C3.89295 2.14288 4.10298 2.25971 4.39156 2.54581C4.92362 3.07329 6.0768 4.35032 6.1048 4.38078C6.23587 4.51921 6.49606 4.89206 6.05735 5.39948C5.25071 6.33181 3.90073 7.89186 5.81971 9.95933C6.14136 10.3048 6.75198 10.9098 7.10124 11.2298C7.81803 11.8834 8.51772 12.2015 9.24035 12.2015C10.2792 12.2015 11.0664 11.5325 11.7268 10.9715C11.9041 10.8203 12.0718 10.7475 12.2378 10.7475C12.5105 10.7475 12.7259 10.9453 12.7458 10.9638C12.7586 10.9749 14.0467 12.1182 14.5784 12.6457C14.9312 12.9954 15.2968 13.3582 14.5294 14.3364ZM9.01944 3.83133C9.97271 4.16409 10.8217 4.69541 11.5424 5.41028C12.2639 6.12514 12.7994 6.96647 13.1347 7.91114C13.2191 8.14866 13.4443 8.29749 13.685 8.29749C13.7492 8.29749 13.8146 8.28669 13.8787 8.26472C14.1821 8.15907 14.3416 7.82863 14.2354 7.5271C13.8418 6.41818 13.2133 5.43071 12.3673 4.59247C11.5218 3.75422 10.5262 3.13112 9.40681 2.74015C9.10228 2.6345 8.76897 2.79258 8.66279 3.09372C8.55583 3.39486 8.71607 3.7253 9.01944 3.83133ZM16.9657 6.50763C16.4239 5.01043 15.571 3.67787 14.4306 2.54736C13.2895 1.41684 11.9457 0.571651 10.4363 0.0341545C10.131 -0.0738075 9.79808 0.0827375 9.68956 0.383103C9.58105 0.683855 9.73896 1.01507 10.0415 1.12303C11.3888 1.60192 12.5875 2.35611 13.6049 3.36478C14.6224 4.37346 15.3831 5.5622 15.8658 6.89784C15.9517 7.13381 16.1757 7.28072 16.4149 7.28072C16.4803 7.28072 16.5472 7.26954 16.6133 7.24756C16.917 7.1396 17.0742 6.80839 16.9657 6.50763Z' fill='%23bfbfbf'/%3E%3C/svg%3E%0A");
        }
    }

    /* .our-repair-is-advised__lable--name */

    &__lable--name {
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.54804 9.18197C9.64172 9.18197 11.3451 7.20568 11.3451 4.77674C11.3451 3.59521 11.3451 0 7.54804 0C3.75095 0 3.75094 3.59521 3.75094 4.77674C3.75094 7.20568 5.45435 9.18197 7.54804 9.18197ZM7.54804 1.11676C9.47404 1.11676 10.2247 2.14305 10.2247 4.77674C10.2247 6.58998 9.024 8.06521 7.54804 8.06521C6.07208 8.06521 4.87136 6.58998 4.87136 4.77674C4.87136 2.14305 5.62204 1.11676 7.54804 1.11676ZM11.8306 10.7075C11.1513 10.4536 10.5776 9.81256 10.4174 9.62197C10.2191 9.38596 9.86693 9.35357 9.62865 9.55161C9.39112 9.74928 9.35938 10.1014 9.55807 10.3382C9.81987 10.6501 10.5276 11.414 11.4385 11.7535C12.0263 11.9731 13.8631 12.8233 13.9725 14.8815C11.952 15.5467 9.79373 15.8832 7.54916 15.8832C5.30496 15.8832 3.14629 15.5467 1.12581 14.8815C1.23486 12.8252 3.06973 11.9731 3.65571 11.7539C4.57184 11.4121 5.27882 10.6501 5.54025 10.3382C5.73894 10.1014 5.70719 9.74928 5.46966 9.55161C5.23176 9.35357 4.87883 9.38596 4.68052 9.62197C4.52104 9.81182 3.94776 10.4517 3.26282 10.7075C2.46209 11.0071 -0.138396 12.2255 0.00576404 15.3063C0.0162213 15.5333 0.163743 15.7314 0.378489 15.8069C2.62605 16.5987 5.03868 17 7.54916 17C10.06 17 12.4723 16.5987 14.7195 15.8069C14.9338 15.7314 15.0813 15.5337 15.0922 15.3063C15.2356 12.2221 12.6325 11.006 11.8306 10.7075Z' fill='%23BFBFBF'/%3E%3C/svg%3E%0A");
        }
    }

    /* .our-repair-is-advised__btn */

    &__btn {
        @include _768 {
            max-width: 34.6rem;
            margin-right: 0;
        }

        @include _1200 {
            max-width: 30.7rem;
            margin: 0;
        }
    }
}