@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.series-of-your-house {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include _768 {
            // object-fit: cover;
        }
    }

    .tab-item {
        display: none;

        &.active-tab {
            display: block;
        }
    }

    .inner-tab-item {
        display: none;

        &.inner-active-tab {
            display: block;

            @include _768 {
                display: flex;
            }
        }
    }

    .tab,
    .inner-tab {
        background: #ffffff;
        border: 0.1rem solid $darkGray;
        border-radius: 0.6rem;
        color: $darkGray;
        font-weight: 700;
        line-height: 1;

        &.active,
        &.inner-active {
            background-color: $orange;
            border: none;
            color: #fff;
            font-weight: 900;
            pointer-events: none;
        }
    }

    .container-wrapper {
        @include _max768 {
            max-width: 100%;
        }
    }

    &__title {
        @include _max768 {
            max-width: 34.5rem;
            margin: 0 auto;
        }
    }

    /* .series-of-your-house__wrapper */

    &__wrapper {
        @include _max768 {
            padding-bottom: 0;
        }
    }

    /* .series-of-your-house__title */

    &__title {
        padding: 0 2rem;
        line-height: 1.2;
        margin-bottom: 2.8rem;

        @include _768 {
            line-height: 1.1;
        }

        @include _1200 {
            line-height: 1.2;
            margin-bottom: 2.5rem;
        }
    }

    /* .series-of-your-house__box-tabs */

    &__box-tabs {
        flex-wrap: wrap;
        margin-bottom: 1.5rem;

        @include _768 {
            margin-bottom: 3rem;
        }
    }

    /* .series-of-your-house__tabs */

    &__tabs {
        max-width: 20vw;
        margin: 0;

        &:nth-child(-n + 4) {
            margin-bottom: 1.5rem;

            @include _768 {
                margin-bottom: 2.1rem;
            }
        }

        @include _768 {
            max-width: 16.5rem;
        }

        @include _1200 {
            max-width: 22.6rem;
        }
    }

    /* .series-of-your-house__item-tabs */

    &__item-tabs {
        flex-wrap: wrap;
        margin-bottom: 2.5rem;

        @include _768 {
            margin-bottom: 3.4rem;
        }
    }

    /* .series-of-your-house__tabs-inner */

    &__tabs-inner {
        margin: 0 auto;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include _768 {
            max-width: 22.6rem;
            margin: 0;
        }

        @include _1200 {
            max-width: 30.7rem;
        }
    }

    /* .series-of-your-house__item */

    &__item {
        position: relative;

        @include _768 {
            display: flex;
            justify-content: space-between;
        }
    }

    /* .series-of-your-house__info-box */

    &__info-box {
        @include _768 {
            width: 50%;
        }
    }

    /* .series-of-your-house__info-title */

    &__info-title {
        max-width: 18.2rem;
        padding-top: 0.8rem;
        margin-bottom: 2.5rem;

        @include _768 {
            font-size: 1.8rem;
            padding-top: 0;
            max-width: 27rem;
        }

        @include _1200 {
            max-width: 100%;
        }
    }

    /* .series-of-your-house__info-text */

    &__info-text {
        display: block;
        margin-bottom: 0.8rem;

        @include _768 {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        @include _1200 {
            margin-bottom: 3.8rem;
        }
    }

    /* .series-of-your-house__info-square */

    &__info-square {
        font-size: 2.4rem;
        padding-left: 3rem;
        position: relative;
        margin-bottom: 3.4rem;

        &::before {
            content: "";
            position: absolute;
            width: 0.9em;
            height: 0.9em;
            border-radius: 50%;
            border: 0.1rem solid $orange;
            left: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.134595 5.24198H0.407885C0.190891 5.17672 0.126407 5.08358 0.124871 4.8671C0.124871 4.76884 0.132292 4.67006 0.12308 4.57283C0.110542 4.44488 0.157625 4.35199 0.25691 4.27548C0.336748 4.21381 0.515358 4.23096 0.556045 4.32154C0.59494 4.40803 0.612852 4.50425 0.63537 4.59739C0.639238 4.6314 0.639238 4.66574 0.63537 4.69975C0.63537 5.00681 0.63537 5.00681 0.471089 5.24326H0.602361C2.15476 5.24326 3.70715 5.24385 5.25954 5.24505C5.29905 5.24698 5.3385 5.24026 5.37514 5.22536C5.41178 5.21047 5.44472 5.18776 5.47168 5.15881C6.42973 4.19923 7.38931 3.24109 8.35043 2.28441C8.3796 2.25549 8.40673 2.22479 8.4556 2.17259H8.29516C7.62132 2.17259 6.94747 2.17259 6.27363 2.17259C6.0592 2.17259 5.92614 1.99807 6.00086 1.8192C6.04026 1.72529 6.11038 1.6626 6.21478 1.6626C7.24669 1.6626 8.27878 1.66354 9.31104 1.66541C9.31462 1.66541 9.31795 1.67002 9.33023 1.67872C9.33202 1.70431 9.33586 1.73732 9.33586 1.77007C9.33586 2.73819 9.33586 3.7063 9.33586 4.67441C9.33586 4.69565 9.33586 4.71715 9.33586 4.73839C9.3246 4.88859 9.21047 4.99581 9.0682 4.99044C8.92593 4.98506 8.82715 4.88168 8.82613 4.72943C8.82331 4.30312 8.82613 3.87655 8.82613 3.44998V2.54567C8.78365 2.58175 8.75806 2.60069 8.73606 2.62244C7.76624 3.59482 6.7971 4.5672 5.82864 5.53958C5.78809 5.58008 5.76324 5.63368 5.75853 5.69081C5.75495 7.3157 5.75409 8.9406 5.75597 10.5655C5.75597 10.5821 5.75853 10.599 5.75776 10.5872C5.79384 10.5412 5.83043 10.4642 5.89134 10.4248C5.95224 10.3853 6.04052 10.3695 6.11856 10.3616C6.21964 10.3513 6.32328 10.3664 6.42563 10.3572C6.55358 10.3457 6.64646 10.3915 6.72323 10.4908C6.78413 10.5701 6.7675 10.7497 6.67768 10.7902C6.58787 10.8306 6.49498 10.8472 6.40183 10.8697C6.36784 10.8739 6.33347 10.8739 6.29948 10.8697C6.10833 10.8672 5.9008 10.9209 5.76339 10.6676C5.75699 10.762 5.75367 10.8104 5.75008 10.8641H0.134595V5.24198ZM5.23344 10.3546V5.76501H0.643559V10.3546H5.23344Z' fill='%23F26422'/%3E%3Cpath d='M0.620583 0.636772C0.560961 0.636772 0.501339 0.636772 0.441461 0.636772C0.303792 0.635493 0.14335 0.517272 0.142582 0.417219C0.141814 0.249356 0.259267 0.130879 0.439413 0.126017C0.571196 0.121411 0.703491 0.124482 0.83553 0.125249C0.97371 0.125249 1.1339 0.24475 1.13466 0.345058C1.13466 0.508827 1.0231 0.626536 0.850627 0.636004C0.774117 0.640354 0.69735 0.636772 0.620583 0.636772Z' fill='%23F26422'/%3E%3Cpath d='M2.15829 0.636767C2.09457 0.636767 2.03034 0.636767 1.96663 0.636767C1.83868 0.635232 1.67798 0.516244 1.6744 0.422332C1.67202 0.385375 1.67708 0.348314 1.68928 0.313349C1.70149 0.278384 1.72059 0.246225 1.74546 0.218781C1.77033 0.191337 1.80045 0.169165 1.83405 0.153581C1.86764 0.137998 1.90403 0.129319 1.94104 0.12806C2.10634 0.117824 2.2737 0.122686 2.439 0.12806C2.53445 0.131386 2.6693 0.271613 2.66546 0.351451C2.65983 0.514196 2.55543 0.623717 2.38833 0.634976C2.31208 0.640862 2.23506 0.636767 2.15829 0.636767Z' fill='%23F26422'/%3E%3Cpath d='M3.68237 0.63662C3.6271 0.63662 3.57157 0.63662 3.5163 0.63662C3.3794 0.63662 3.21461 0.520702 3.20924 0.423209C3.20258 0.255601 3.32899 0.129704 3.514 0.125609C3.64604 0.122795 3.77808 0.12433 3.91012 0.125609C4.03806 0.125609 4.19927 0.245366 4.20362 0.338765C4.21079 0.497928 4.09512 0.624082 3.92521 0.635853C3.84461 0.641226 3.76349 0.63662 3.68237 0.63662Z' fill='%23F26422'/%3E%3Cpath d='M5.21955 0.636761C5.15993 0.636761 5.10031 0.636761 5.04043 0.636761C4.91249 0.635226 4.75025 0.51854 4.74462 0.425397C4.73541 0.264698 4.85926 0.132659 5.03352 0.126262C5.16965 0.121144 5.3063 0.124471 5.44294 0.126262C5.57089 0.126262 5.73312 0.244227 5.73875 0.337371C5.74796 0.493463 5.63 0.623967 5.46214 0.636249C5.38179 0.641623 5.30041 0.636505 5.21955 0.636761Z' fill='%23F26422'/%3E%3Cpath d='M6.75471 0.636761C6.69509 0.636761 6.63546 0.636761 6.57559 0.636761C6.44764 0.635226 6.28541 0.51854 6.27978 0.425397C6.27057 0.264698 6.39467 0.132659 6.56868 0.126262C6.70455 0.121144 6.8412 0.124471 6.9781 0.126262C7.10604 0.126262 7.26828 0.244227 7.27391 0.337371C7.28312 0.493463 7.16515 0.623967 6.99703 0.636249C6.91694 0.641623 6.83557 0.636505 6.75471 0.636761Z' fill='%23F26422'/%3E%3Cpath d='M8.2894 0.666368C8.12819 0.63387 7.96519 0.671485 7.85694 0.505413C7.80295 0.422505 7.81395 0.246198 7.90352 0.206023C7.99128 0.16752 8.08407 0.141673 8.17911 0.129256C8.27532 0.116206 8.37538 0.133862 8.47236 0.124394C8.6003 0.112367 8.69268 0.159707 8.76945 0.25848C8.83546 0.343435 8.81371 0.525117 8.71187 0.561709C8.57599 0.60956 8.43065 0.633358 8.2894 0.666368Z' fill='%23F26422'/%3E%3Cpath d='M9.8288 0.636996C9.76917 0.636996 9.70955 0.636996 9.64967 0.636996C9.51175 0.635461 9.35156 0.516728 9.35156 0.41642C9.35156 0.250859 9.46236 0.134941 9.63637 0.126753C9.77224 0.120868 9.90889 0.124706 10.0458 0.125474C10.1827 0.126241 10.3436 0.245486 10.3436 0.34605C10.3436 0.511099 10.2323 0.627528 10.0588 0.636229C9.98233 0.640579 9.90531 0.636996 9.8288 0.636996Z' fill='%23F26422'/%3E%3Cpath d='M10.3607 1.12416C10.3607 1.06889 10.3607 1.01362 10.3607 0.95809C10.362 0.806603 10.4774 0.651023 10.587 0.654349C10.7576 0.658444 10.8684 0.773082 10.872 0.955787C10.8748 1.08783 10.8733 1.21986 10.872 1.3519C10.872 1.47985 10.7523 1.6408 10.6586 1.6449C10.4987 1.65206 10.3735 1.53742 10.3618 1.367C10.3569 1.2864 10.361 1.20528 10.3607 1.12416Z' fill='%23F26422'/%3E%3Cpath d='M0.635683 1.67373C0.635683 1.73745 0.635683 1.80167 0.635683 1.86539C0.634148 1.99334 0.514904 2.15403 0.420992 2.1571C0.384082 2.15924 0.347116 2.154 0.312255 2.14168C0.277395 2.12936 0.24534 2.11022 0.217964 2.08537C0.190589 2.06052 0.168442 2.03046 0.152819 1.99695C0.137196 1.96344 0.12841 1.92716 0.126975 1.89021C0.116996 1.72465 0.121602 1.55756 0.126975 1.392C0.130302 1.29629 0.270273 1.16374 0.351135 1.16605C0.513368 1.17116 0.622633 1.27608 0.634148 1.44368C0.640033 1.51994 0.635683 1.59696 0.635683 1.67373Z' fill='%23F26422'/%3E%3Cpath d='M10.8722 2.70007C10.8722 2.75969 10.8722 2.81931 10.8722 2.87919C10.8709 3.01839 10.755 3.17832 10.6544 3.18012C10.4873 3.18293 10.3668 3.06445 10.3614 2.88533C10.3576 2.75355 10.3601 2.62151 10.3614 2.48947C10.3614 2.34975 10.4778 2.19059 10.5792 2.18854C10.7457 2.18522 10.8652 2.30421 10.8724 2.48333C10.8745 2.55523 10.8722 2.62919 10.8722 2.70007Z' fill='%23F26422'/%3E%3Cpath d='M0.636162 3.21775C0.636162 3.27737 0.636162 3.33699 0.636162 3.39687C0.634883 3.52482 0.518197 3.68654 0.424798 3.69217C0.263332 3.70189 0.13206 3.57855 0.125663 3.40353C0.120801 3.26739 0.123872 3.131 0.125663 2.9941C0.125663 2.86616 0.24286 2.70469 0.337028 2.69881C0.493632 2.68908 0.623368 2.80602 0.635906 2.97517C0.641024 3.05603 0.636162 3.1374 0.636162 3.21775Z' fill='%23F26422'/%3E%3Cpath d='M10.8726 4.23899C10.8726 4.29862 10.8726 4.35824 10.8726 4.41812C10.8714 4.55655 10.7524 4.71495 10.651 4.71469C10.4868 4.71469 10.3696 4.60159 10.3624 4.42963C10.3568 4.2935 10.3603 4.15711 10.3624 4.02021C10.3644 3.88331 10.4819 3.72363 10.5837 3.72363C10.7475 3.72363 10.8639 3.83648 10.8732 4.00869C10.876 4.08546 10.8724 4.16223 10.8726 4.23899Z' fill='%23F26422'/%3E%3Cpath d='M10.3606 5.72038C10.3573 5.56403 10.3317 5.40308 10.4947 5.29637C10.5651 5.25005 10.7426 5.25313 10.7805 5.3258C10.8253 5.40626 10.8551 5.49417 10.8685 5.58527C10.8798 5.71688 10.8803 5.8492 10.8698 5.98087C10.8655 6.0345 10.8479 6.0862 10.8186 6.13134C10.7449 6.24649 10.6231 6.29332 10.5152 6.21988C10.4402 6.1687 10.3962 6.05585 10.3657 5.96168C10.3417 5.88824 10.3606 5.80226 10.3606 5.72038Z' fill='%23F26422'/%3E%3Cpath d='M10.8722 7.3075C10.8722 7.36712 10.8722 7.42675 10.8722 7.48662C10.8709 7.62506 10.7534 7.78525 10.6531 7.78601C10.4847 7.7878 10.3665 7.67035 10.3614 7.49046C10.3576 7.35842 10.3601 7.22638 10.3614 7.09435C10.3614 6.9554 10.4791 6.79623 10.5804 6.79496C10.7483 6.79265 10.8658 6.91036 10.8724 7.09076C10.8742 7.16267 10.8722 7.23534 10.8722 7.3075Z' fill='%23F26422'/%3E%3Cpath d='M10.3608 8.8136C10.3608 8.75398 10.3608 8.69436 10.3608 8.63448C10.3608 8.49681 10.4762 8.33355 10.5747 8.32895C10.7436 8.32127 10.868 8.44615 10.8721 8.63269C10.8749 8.76473 10.8734 8.89677 10.8721 9.02881C10.8721 9.15675 10.7523 9.31745 10.6584 9.32154C10.4995 9.32845 10.3736 9.21253 10.3616 9.04339C10.357 8.96714 10.3611 8.89037 10.3608 8.8136Z' fill='%23F26422'/%3E%3Cpath d='M10.8717 10.3796C10.8717 10.4392 10.8717 10.4988 10.8717 10.5587C10.8705 10.6841 10.7545 10.8509 10.664 10.8586C10.626 10.8613 10.5879 10.8563 10.5519 10.8439C10.5159 10.8314 10.4828 10.8118 10.4547 10.7862C10.4265 10.7606 10.4038 10.7296 10.388 10.695C10.3721 10.6603 10.3635 10.6229 10.3625 10.5848C10.3538 10.4234 10.3579 10.2611 10.3625 10.0986C10.3656 10.0045 10.5022 9.865 10.5808 9.86475C10.7392 9.86475 10.8566 9.97094 10.8702 10.1362C10.8771 10.2174 10.8717 10.2987 10.8717 10.3796Z' fill='%23F26422'/%3E%3Cpath d='M7.78192 10.8723C7.7223 10.8723 7.66268 10.8723 7.6028 10.8723C7.46487 10.8708 7.30469 10.7521 7.30469 10.6518C7.30469 10.4862 7.41549 10.3703 7.58949 10.3621C7.72537 10.3562 7.86201 10.3601 7.99892 10.3608C8.13582 10.3616 8.29703 10.4808 8.29703 10.5814C8.29703 10.7464 8.18546 10.8629 8.01222 10.8716C7.93545 10.8759 7.85843 10.8723 7.78192 10.8723Z' fill='%23F26422'/%3E%3Cpath d='M9.31393 10.8721C9.25405 10.8721 9.19443 10.8721 9.1348 10.8721C9.00814 10.8706 8.84514 10.7529 8.84028 10.66C8.83158 10.4983 8.95491 10.368 9.13045 10.3616C9.26659 10.3565 9.40298 10.3598 9.53988 10.3616C9.66782 10.3616 9.82954 10.4806 9.83441 10.5737C9.84285 10.7309 9.72591 10.8598 9.55702 10.8719C9.4759 10.8767 9.39479 10.8721 9.31393 10.8721Z' fill='%23F26422'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 0.5em;
            top: 50%;
            transform: translateY(-50%);
        }

        @include _768 {
            font-size: 3rem;
            padding-left: 7.5rem;
            margin-bottom: 3.2rem;

            &::before {
                font-size: 1.5em;
            }
        }
    }

    /* .series-of-your-house__price-box */

    &__price-box {
        margin: 0 -1.5rem;
        background-color: $orange;
        display: flex;
        flex-wrap: wrap;
        padding: 2.3rem 1.6rem;
        padding-bottom: 4.5rem;
        position: relative;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1.2rem;
            border-bottom: 1.3rem solid $orange;
            border-right: 50vw solid transparent;
            border-left: 50vw solid transparent;
            transform: translateY(-96%);
        }

        &::after {
            content: "";
            position: absolute;
            width: 0.2rem;
            height: 4.9rem;
            background-color: #fff;
            opacity: 0.25;
        }

        @include _768 {
            margin: 0;
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
            max-width: 29.8rem;
            padding: 1.4rem 1.5rem;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                width: 4.8rem;
                height: 100%;
                border-bottom: 6.4rem solid transparent;
                border-top: 6.4rem solid transparent;
                border-right: 5rem solid transparent;
                border-left: 4.8rem solid $orange;
                transform: translateY(0) translateX(100%);
            }
        }
    }

    /* .series-of-your-house__price-all */

    &__price-all,
    &__price-we-have {
        width: 50%;
        text-align: center;
        font-weight: 700;
        color: #fff;

        span {
            display: block;
        }
    }

    &__price-all {
        font-size: 1.6rem;

        span {
            font-size: 2.4rem;
            margin-top: 1rem;
            position: relative;
            color: rgba(#fff, 0.7);

            &::before {
                content: "";
                position: absolute;
                height: 0.2rem;
                width: 9rem;
                background-color: $yellow;
                transform: rotate(11.5deg);
                top: 1rem;

                @include _768 {
                    width: 60%;
                }
            }

            @include _768 {
                font-size: 2rem;
                margin-top: 0.5rem;
            }
        }

        @include _768 {
            font-size: 1.3rem;
            padding: 0.4rem
        }
    }

    /* .series-of-your-house__price-we-have */

    &__price-we-have {
        font-size: 1.8rem;

        span {
            color: $yellow;
            font-weight: 900;
            font-size: 3rem;

            @include _768 {
                font-size: 2.5rem;
            }
        }

        @include _768 {
            font-size: 2rem;
        }
    }

    /* .series-of-your-house__price-link */

    &__price-link {
        background-color: #fff;
        color: $orange;
        max-width: 33.4rem;
        margin-top: 2rem;

        @include _768 {
            margin-top: 1.1rem;
        }
    }

    /* .series-of-your-house__img-box */

    &__img-box {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 16rem;
        height: 11.4rem;

        @include _768 {
            position: relative;
            max-width: 50%;
            height: 29.9rem;
        }
    }
}