// переменные . Напимер цвета, отступы

// переменные цветов
$orange: #F26422;
$black: #000000;
$brown: #333333;
$yellow: #FFE600;
$white: #ffffff;
$blue: #17A1E3;
$gray: #C9C9C9;
$lightGray: #F6F6F6;
$bglightGray: #F9F9F9;
$darkGray: #C4C4C4; 
