@import '../../base/all/var';

.cost-repair-plastic-windows {
    .title {
        margin-bottom: 2.5rem;
        text-align: left;
    }

    &__content {
        margin-bottom: 2.5rem;
    }

    &__item {
        margin-bottom: 0.938em;
        box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
        border-radius: 0.375em;
    }

    &__input:checked + &__question {
        .cost-repair-plastic-windows__question-icon {
            &:before {
                transform: translateX(0.35em) translateY(0.225em) rotate(45deg);
            }

            &:after {
                transform: translateX(0.342em) translateY(-0.362em) rotate(135deg);
            }
        }
    }

    &__input:checked ~ &__question-description {
        display: block;
    }

    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 700;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 0.063em solid $orange;
        }
    }

    &__input {
        display: none;
    }

    &__question {
        padding-top: 0.938em;
        padding-bottom: 0.938em;
        padding-left: 0.688em;
        padding-right: 0.688em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: 600;

        &-box {
            margin-bottom: 0.5rem;
            padding-bottom: 0.2rem;
            border-bottom: 0.1rem solid #C4C4C4;

            &:last-child {
                border-bottom: none;
            }
        }

        &-text,
        &-description {
            color: #3A3A3A
        }

        &-text {
            max-width: 14.9em;

            .hide {
                display: none;
            }
        }

        &-icon {
            display: block;
            width: 0.9em;
            height: 0.9em;
            border-radius: 50%;
            position: relative;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 0.15em;
                height: 0.6em;
                background-color: $orange;
            }

            &:before {
                transform: translateX(0.34em) translateY(0.240em) rotate(90deg);
            }

            &:after {
                transform: translateX(0.331em) translateY(-0.362em);
            }
        }

        &-description {
            padding-left: 0.688em;
            padding-right: 0.688em;
            padding-bottom: 0.938em;
            display: none;
            line-height: 1.2;
        }
    }

    @media (min-width: 768px) {
        background-color: #F6F6F6;

        .container {
            width: calc(100% - 5rem);
        }

        .title {
            margin-right: auto;
            margin-left: auto;
        }

        .title {
            max-width: 22em;
        }

        .text {
            margin-bottom: 2.188em;
            max-width: 35em;
            margin-left: 2em;
        }

        &__text {
            font-size: 1.8rem;
        }

        &__item {
            margin-bottom: 1.538em;
        }

        &__question {
            padding-left: 1.813em;

            &-description {
                padding-left: 1.813em;
                padding-right: 4.813em;
            }

            &-box {
                margin-bottom: 0.7rem;
                padding-bottom: 0.5rem;
            }

            &-text,
            &-price {
                font-size: 1.8rem;
            }


            &-text {
                max-width: 24.9em;

                .hide {
                    display: inline;
                }
            }
        }
    }

    @media (min-width: 1200px) {     
        .title {
            margin-bottom: 3rem;
        }
        
       .text {
            max-width: 49em;
       }

       &__question {
           &-description {
             padding-right: 4.413em;

             &-box {
                margin-bottom: 0.9rem;
                padding-bottom: 0.7rem;
             }
           }

           &-text {
            max-width: 36.9em;
           }
       }
    }
}