@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.main-nodes {
    @include _max768 {
        display: none;
    }

    /* .main-nodes__title */

    &__title {
        margin-bottom: 0.9em;

        @include _1200 {
        }
    }

    /* .main-nodes__slider */

    &__slider {
        padding: 5.3em 3.9em 0;
        // position: relative;

        .owl-nav {
            font-size: 4em;
            font-weight: 700;
        }

        .owl-prev {
            top: 50%;
            position: absolute;
            left: 0;
        }

        .owl-next {
            top: 50%;
            position: absolute;
            right: 0;
        }

        .disabled {
            opacity: 0.3;
        }

        .pagination-box {
            background-color: #efefef;
            top: 0;
            left: 0;
            bottom: auto;
            display: flex;
            justify-content: space-around;

            .pagination {
                width: fit-content;
                height: auto;
                margin: 0;
                border-radius: 0;
                background-color: transparent;
                padding: 0;
                font-size: 1.2rem;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                min-height: 4.5rem;
                border: 0.2rem solid transparent;

                &.active {
                    background-color: #fff;
                    border: 0.2rem solid $orange;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 1.6rem;
                        height: 1.6rem;
                        border-right: 0.2em solid $orange;
                        border-bottom: 0.2em solid $orange;
                        bottom: -0.83em;
                        background-color: #fff;
                        transform: rotate(45deg);

                        @include _1200 {
                            border-width: 0.1em;
                            bottom: -0.475em;
                        }
                    }

                    @include _1200 {
                        border-width: 0.1em;
                    }
                }

                @include _1200 {
                    font-size: 1.8rem;
                    min-height: 7rem;
                }

                &:nth-child(1) span::before {
                    content: "СТОЕЧНО-РИГЕЛЬНОЕ ОСТЕКЛЕНИЕ";
                }

                &:nth-child(2) span::before {
                    content: "МОДУЛЬНОЕ ОСТЕКЛЕНИЕ";
                }

                &:nth-child(3) span::before {
                    content: "АЛЮМИНЕВЫЕ ПЕРЕГОРОДКИ";
                }

                &:nth-child(4) span::before {
                    content: "ПОЛУСТРУКТУРНОЕ ОСТЕКЛЕНИЕ";
                }

                &:nth-child(5) span::before {
                    content: "СТРУКТУРНОЕ ОСТЕКЛЕНИЕ";
                }
            }
        }

        @include _1200 {
            padding: 7.5em 0 0 3em;
        }
    }

    /* .main-nodes__item */

    &__item {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr 1fr;
        grid-template-rows: 1fr 1fr 1.4fr;
        gap: 2em 1em;
        grid-template-areas:
            "img text text"
            "img text text"
            "icon icon icon";

        @include _1200 {
            grid-template-columns: 0.4fr 0.8fr;
            grid-template-rows: 0.3fr 0.5fr;
            gap: 2em 2.6em;
            grid-template-areas:
                "img text"
                "img icon";
        }
    }

    /* .main-nodes__box-img */

    &__box-img {
        grid-area: img;
    }

    /* .main-nodes__box-text */

    &__box-text {
        grid-area: text;
    }

    /* .main-nodes__item-title */

    &__item-title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0.8em;
        line-height: 1em;

        @include _1200 {
        }
    }

    /* .main-nodes__item-text */

    &__item-text {
        font-size: 1.8rem;
        line-height: 1.25;
    }

    /* .main-nodes__box-icon */

    &__box-icon {
        grid-area: icon;
        display: flex;
        justify-content: space-around;
        padding: 0 1em;

        @include _1200{
            justify-content: space-between;
            padding: 0;
            margin-right: 4.8em;
        }
    }

    /* .main-nodes__item-icon */

    &__item-icon {
        text-align: center;
    }

    /* .main-nodes__icon */

    &__icon {
        width: 9.3rem;
        height: 9.3rem;
        border-radius: 50%;
        background-color: $yellow;
        margin: 0 auto 0.5em;
        background-repeat: no-repeat;
        background-position: center;

        &--1 {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 442.16 441.36'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cpath d='M227.51,87.81c77.24,0,138.89,62,138.78,139.68-.1,76.7-63.85,138.73-140,138.09-76-.64-137.86-62.65-137.84-139.34C88.44,149.71,150.66,87.78,227.51,87.81Zm-.18,243.71a105,105,0,0,0-.22-210c-58,.09-105,47.65-104.77,106.17C122.55,284.73,170.05,331.7,227.33,331.52Z'/%3E%3Cpath d='M240.3,0V12.56c0,15.32-.1,30.64.08,45.95,0,3.68-1,5-4.78,4.87-9.82-.22-19.64-.12-29.46,0-2.68,0-4.37-.37-4.35-3.73.11-19.64.05-39.27.05-59.61Z'/%3E%3Cpath d='M32.08,239.45c-9.32,0-18.65-.09-28,.05-3,.05-4.15-.93-4.11-4q.18-15.22,0-30.46c0-3,1-4.11,4.08-4.1q28,.15,55.94,0c3,0,4.13,1.08,4.1,4.08q-.15,15.22,0,30.47c0,3-1.07,4.05-4.09,4C50.73,239.36,41.4,239.45,32.08,239.45Z'/%3E%3Cpath d='M410.06,201c9.16,0,18.32.12,27.47-.07,3.49-.07,4.68,1.13,4.63,4.6-.17,10-.14,20,0,30,0,3-1.07,4-4.09,4q-28-.15-55.94,0c-3,0-4.15-.93-4.11-4,.12-10.15.14-20.31,0-30.46-.05-3.49,1.59-4.14,4.6-4.1C391.74,201.07,400.9,201,410.06,201Z'/%3E%3Cpath d='M202.46,377.75H240.3v28.34c0,10.32-.1,20.65.06,31,0,3.28-1.07,4.36-4.3,4.31-10-.15-20-.06-30-.05-2.29,0-4.29,0-4.28-3.25.11-19.64.1-39.28.14-58.93A6.31,6.31,0,0,1,202.46,377.75Z'/%3E%3Cpath d='M78.1,388.86l-25-25.58,43.75-43.75,25.24,25.37Z'/%3E%3Cpath d='M320.09,345.08l25.31-25.6,43.74,43.72-25.62,25.27Z'/%3E%3Cpath d='M122.48,96.13,97,121.68,53.08,77.81,78.7,52.32Z'/%3E%3Cpath d='M363.7,51.73l25.84,25.94C375,92.18,360.23,107,345.87,121.31L320,95.44Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: 4em;
        }

        &--2 {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 442.47 438.72'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cpath d='M344,37.17c4.57-6.55,8.66-12.83,13.24-18.72,1.56-2,4.59-4.41,6.55-4.1s4.23,3.55,4.93,5.93c5.54,19,10.8,38.1,16,57.21,2,7.43-2.06,13-10.16,13.8-12.27,1.26-24.56,2.25-36.85,3.33-7.3.65-14.59,1.49-21.91,1.76-2.39.08-6.24-.76-6.92-2.28-.89-2,0-5.58,1.28-7.73,3.89-6.37,8.37-12.38,13.28-19.5-9-4.84-17.32-10-26.19-14C259.37,36.06,220,31.81,179.56,41.51,121.68,55.41,79.29,89.51,54,143.26,31.2,191.87,30.49,241.9,51,291.63c20.61,50,57.2,83.94,107.62,102.93,9.76,3.68,20.17,5.64,30.32,8.25,11.82,3.05,17.45,14,12.86,25.18-3.17,7.75-11.6,12.21-20.6,10.29-82.31-17.51-139-65.42-168.37-144.23-13.38-35.88-16-73.22-9.21-111.21,7.87-44.14,27.32-82.31,58.06-114.61C95,33.22,135.91,11.64,183.53,3.42c52-9,101.11-.19,147.13,25.64C335,31.5,339.2,34.22,344,37.17Z'/%3E%3Cpath d='M225.2,153c0,19.65.13,39.31-.1,59,0,4.15,1.48,6.22,5,8Q285,248.17,339.73,276.57c5.54,2.87,8.58,7.52,8.46,13.66-.11,5.71-3.05,10.15-8.23,12.8a14,14,0,0,1-13.44-.12l-85.67-44.22c-13.61-7-27.18-14.14-40.88-21-3.07-1.54-4.42-3.33-4.42-6.85.1-45.47,0-91,.12-136.43,0-12.17,8.4-19.29,18.71-16.43,6.75,1.88,10.76,7.46,10.79,15.53C225.24,113.33,225.19,133.15,225.2,153Z'/%3E%3Cpath d='M406,218.73c-.48-5.56-.54-11.77,3.79-16.88,4.81-5.67,11-8,18.33-6.25,7.5,1.8,12.46,6.76,13.58,14.3a70.61,70.61,0,0,1,.27,18.37c-1.11,9.46-9.67,15.92-19.07,15.37s-16.52-8.07-16.89-17.75C406,223.73,406,221.57,406,218.73Z'/%3E%3Cpath d='M333.22,371.33c7.47.7,14.64,5.57,17,12,2.71,7.47.95,15.83-5.13,20.42a82.2,82.2,0,0,1-15.31,9.3c-9.21,4.2-19,.2-23.53-8.92-4-8-1-17.95,7.12-23,3.66-2.3,7.24-4.78,11.08-6.74C327.16,373,330.27,372.32,333.22,371.33Z'/%3E%3Cpath d='M432.87,285c-1.69,4.23-3.89,12.15-7.86,19.07-4.21,7.34-14.71,9.2-22.23,5.36A18.4,18.4,0,0,1,393.45,288c1.3-4.29,2.76-8.54,4.35-12.73,3.13-8.22,11.74-13.22,19.87-11.69C426.83,265.26,432.76,272.19,432.87,285Z'/%3E%3Cpath d='M382.76,323.75c14.66,1,23.54,15.72,16.35,27.91A73.08,73.08,0,0,1,387.64,366c-6.16,6.14-16.73,6.06-23.31.52-7.22-6.06-9.06-16.2-3.86-23.77,3.19-4.64,6.62-9.31,10.78-13C374.39,327,378.87,325.7,382.76,323.75Z'/%3E%3Cpath d='M431.78,154.24c0,12-5.76,19.27-14.28,21A18.12,18.12,0,0,1,397,163.94c-1.51-3.87-3-7.75-4.41-11.65-3.32-9.09.95-19.45,9.48-23,9.38-4,19.92-.2,24,9.07C428.69,144.34,430.54,150.72,431.78,154.24Z'/%3E%3Cpath d='M240,420.28c.05-7.63,4.59-14.54,11.84-16.77a88.39,88.39,0,0,1,16.55-3.46c10.15-1.07,18.1,5.28,19.61,15s-4.53,18.41-14.48,20.62c-4.06.9-8.1,1.89-12.18,2.61A18,18,0,0,1,240,420.28Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: 4em;
        }

        &--3 {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 251.91 441.59'%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cpath d='M76.4,29.7c0-6.23-.06-11.71,0-17.19C76.55,4.16,80.35.12,88.66.08q37.26-.16,74.53,0c8.22,0,12,4.15,12.18,12.53.09,5.46,0,10.92,0,17.09,10,0,19.49,0,28.93,0A46.22,46.22,0,0,1,234.8,40.4c10.86,9,17.16,19.82,17.11,34.82q-.49,160,0,320c.07,20.66-10.4,33.47-27.56,41.77a48.59,48.59,0,0,1-20.24,4.33c-52.18.34-104.37.26-156.56.14-20.61,0-38.23-12-45.58-30.73a27.17,27.17,0,0,1-1.69-9.67C.17,292.23.33,183.39,0,74.55c0-14,5.74-24.31,15.59-33A46.34,46.34,0,0,1,47.15,29.7Zm20.33-8.82c0,5.73,0,11.2,0,16.66,0,8.71-3.72,12.52-12.38,12.57-12,.06-24,0-36,0-17.49.07-29.72,12-29.73,29.39q-.11,156,0,312c0,17.54,12,29.48,29.61,29.51q77.54.14,155.07,0c18.07,0,30-12.12,30-30.24q0-155.28,0-310.55c0-18.06-12.06-30.11-30.05-30.16-12,0-24,0-36,0-8.21-.05-12-3.75-12.17-11.81-.12-4.33-.25-8.68-.06-13,.16-3.65-1.15-5-4.9-4.92-16.34.16-32.68.06-49,.08C99.74,20.45,98.45,20.7,96.73,20.88Z'/%3E%3Cpath d='M125.88,303.82h76.5c7.63,0,12.31,3.84,12.31,10S210,324.2,202.55,324.21q-76.76,0-153.5,0c-6.45,0-10.84-3.38-11.72-8.67a10.21,10.21,0,0,1,7.12-11.22,20.47,20.47,0,0,1,5.43-.48Q87.89,303.8,125.88,303.82Z'/%3E%3Cpath d='M125.66,402.34q-38.25,0-76.5,0c-7.34,0-11.79-3.73-11.91-9.86S41.83,382,49.27,382q76.76-.06,153.5,0c7.21,0,11.88,4,11.92,10,.06,6.32-4.54,10.29-12,10.3Q164.16,402.36,125.66,402.34Z'/%3E%3Cpath d='M126,264.73q38.74,0,77.49,0c4.8,0,8.4,1.65,10.4,6.2,1.76,4,1.1,8.11-2.05,10.48A18.63,18.63,0,0,1,201.44,285c-27.33.29-54.66.16-82,.16H52a37.87,37.87,0,0,1-5-.14c-6-.78-10-5.21-9.7-10.71s4.46-9.51,10.73-9.52C74,264.7,100,264.74,126,264.73Z'/%3E%3Cpath d='M125.92,363.29q-38.51,0-77,0c-5.93,0-9.71-2.53-11.24-7.27-1.9-5.93,2.3-12.19,8.83-13a39.67,39.67,0,0,1,5-.1h149c1,0,2,0,3,0,6.71.19,11.27,4.36,11.18,10.22s-4.69,10.14-11.27,10.16c-20.5.05-41,0-61.5,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: 2em;
        }
    }
}
