@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.old-course {
    /* .old-course__title */

    &__title {
        line-height: 1.2;
        padding: 0 1em;
        margin-bottom: 0.3em;

        @include _768 {
            line-height: 1.1;
            margin-bottom: 0.8em;
        }

        @include _1200 {
            line-height: 1.25;
        }
    }

    /* .old-course__subtitle */

    &__subtitle {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        line-height: 1.2;
        padding: 0 0.5em;
        margin-bottom: 1.1em;

        @include _768 {
            font-size: 1.8rem;
            font-weight: 400;
            padding: 0 2.5em;
            margin-bottom: 1.55em;
        }

        @include _1200 {
            padding: 0 9.5em;
            margin-bottom: 2em;
        }
    }

    /* .old-course__inner */

    &__inner {
        @include _1200 {
            display: flex;
            padding: 0 8rem;
        }
    }

    /* .old-course__box-schedule */

    &__box-schedule {
        @include _768 {
            padding: 0 3.9em;
        }

        @include _1200 {
            padding: 0;
            width: 100%;
            margin-right: 1.7em;
        }
    }

    /* .old-course__schedule-title */

    &__schedule-title {
        text-align: center;
        padding: 0 1em;
        margin-bottom: 1.15em;

        @include _768 {
            letter-spacing: 0.03em;
            margin-bottom: 1.35em;
            padding: 0;
        }

        @include _1200 {
            margin-bottom: 0.75em;
            text-align: left;
            margin-left: 1.8em;
        }
    }

    /* .old-course__schedule-list-period */

    &__schedule-list-period {
        display: flex;
        justify-content: space-between;
        padding: 0 0.7em;
        margin-bottom: 0.6em;

        @include _768 {
            justify-content: start;
            padding: 0 2em;
        }

        @include _1200 {
            margin-bottom: 0.6em;
            font-size: 1.4rem;
        }
    }

    /* .old-course__schedule-period-item */

    &__schedule-period-item {
        text-transform: uppercase;
        font-weight: 700;

        span {
            display: none;
        }

        &.fw9 {
            font-weight: 900;
        }

        @include _768 {
            text-transform: initial;
            font-weight: 400;

            & + & {
                margin-left: 0.8em;
            }

            span {
                display: inline;
            }
        }
    }

    /* .old-course__schedule-list-course */

    &__schedule-list-course {
        padding: 1.1em 0.5em 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 85%;
            height: 100%;
            right: 0.6em;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='302' height='142' viewBox='0 0 302 142' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.637695 130.93L8.71607 132.333L15.9866 139.351H22.4493L32.5978 140.754L49.8653 137.947L64.4568 140.754L71.7274 135.14H83.0371L87.2782 128.123L94.3468 129.526H104.546L110.504 125.316L119.39 129.526L136.354 129.316L141.959 132.912L154.935 118.298H165.437L174.323 119.702L183.209 118.298L196.639 118.298L204.213 111.281L213.907 102.86L223.601 107.07L227.64 98.6491L238.142 90.228L240.565 97.2456L246.22 94.4386L251.32 93.0351L258.338 74.7895L268.587 35.4912L272.879 46.7193L277.726 38.2983L281.765 43.9123L288.228 28.4737L296.306 21.4561L300.345 0.403503' stroke='%23F26422' stroke-width='2'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-position: 0 47%;
            top: 0;

            @include _768 {
                background-image: url("data:image/svg+xml,%3Csvg width='522' height='143' viewBox='0 0 522 143' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.125977 131.307L14.1611 132.711L26.7926 139.728H38.0207L55.6523 141.132L85.6523 138.325L111.003 141.132L123.635 135.518H143.284L150.652 128.5L162.933 129.904H180.652L191.003 125.693L206.442 129.904L235.915 129.693L245.652 133.29L268.196 118.675H286.442L301.88 120.079L317.319 118.675L340.652 118.675L353.81 111.658L370.652 103.237L387.494 107.447L394.512 99.0263L412.758 90.6053L416.968 97.6228L426.793 94.8158L435.652 93.4123L447.845 75.1667L465.652 35.8685L473.108 47.0966L481.529 38.6755L488.547 44.2896L499.775 28.851L513.81 21.8334L520.828 0.780762' stroke='%23F26422' stroke-width='2'/%3E%3C/svg%3E%0A");
                width: 89.6%;
                right: 1em;
                background-position: 0 45%;
            }

            @include _1200 {
                width: 91%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            height: 92.5%;
            right: 0;
            left: 0;
            margin: 0 auto;
            transform: translateX(0.35em);
            top: 0;
            width: 0.1rem;
            background-color: #d0d0d0;

            @include _768 {
            }

            @include _1200 {
                transform: none;
            }
        }

        @include _1200 {
            padding-top: 1.25em;
        }
    }

    /* .old-course__schedule-course-item */

    &__schedule-course-item {
        font-size: 1.4rem;
        line-height: 2.8em;
        position: relative;
        display: flex;
        align-items: center;

        &::after {
            content: "";
            position: absolute;
            width: 90%;
            right: 0;
            height: 0.1rem;
            background-color: #d0d0d0;

            @include _768 {
                width: 95%;
            }

            @include _1200 {
                width: 96%;
            }
        }

        &:first-child::after {
            top: -1.3em;
        }

        @include _1200 {
            font-size: 1.5rem;
            line-height: 2.34em;
        }
    }

    /* .old-course__schedule-course-item-price */

    &__schedule-course-item-price {
        position: absolute;
        display: block;
        width: 11.8rem;
        height: 9.3rem;
        background-color: #fff;
        margin: 0 auto;
        right: 0;
        left: 0;
        top: 3.7em;
        border: 0.2rem solid $orange;
        transform: translateX(0.35em);
        border-radius: 0.5em;
        padding: 0.8em 1.1em;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: #fff;
            border-right: 0.2rem solid $orange;
            border-bottom: 0.2rem solid $orange;
            bottom: -0.75em;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: rotate(45deg);
        }

        &::after {
            content: "";
            position: absolute;
            width: 1.3rem;
            height: 1.3rem;
            background-color: $orange;
            border-radius: 50%;
            border: 0.2rem solid #fff;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -2.3em;
        }

        p {
            font-size: 1.4rem;
            padding-left: 0.4em;
            margin-bottom: 0.8em;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 50%;
                background-color: $orange;
                left: -0.4em;
                top: 0.2em;
            }
        }

        span {
            font-size: 2.4rem;
            font-weight: 700;
        }

        @include _1200 {
            transform: none;
            width: 10.6rem;
            height: 8.3rem;
            top: 3.25em;
            padding: 0.4em 0.6em;
        }
    }

    /* .old-course__schedule-course-item-text */

    &__schedule-course-item-text {
        position: absolute;
        text-align: center;
        bottom: 0.1em;
        padding-left: 1em;
        margin: 0 auto;
        left: 0;
        right: 0;

        @include _768 {
            padding-left: 0;
            line-height: 1.2;
            letter-spacing: 0.03em;
        }

        @include _1200 {
            bottom: 0.3em;
        }
    }

    /* .old-course__box-course */

    &__box-course {
        display: none;

        @include _1200 {
            display: block;
            max-width: 25.5rem;
            width: 100%;
            border-radius: 0.3em;
            margin-top: 1.2em;
        }
    }

    .news-stock-table {
        /* .news-stock-table__row */

        &__row {
            display: flex;
            min-height: 3.15rem;
            align-items: center;
            justify-content: space-between;
            padding: 0 1em;
            /* .news-stock-table__row_header */

            &_header {
                border-bottom: 0.1rem solid #d0d0d0;
                min-height: 3.6rem;
                margin-bottom: 0.5em;
                white-space: nowrap;
                font-weight: 700;

                .news-stock-table__cell:last-child::after {
                    content: none;
                }
            }
            &:nth-child(9) {
                display: none;
            }
            &:nth-child(10) {
                display: none;
            }
            &:nth-child(11) {
                display: none;
            }
        }

        &__row_change_negative {
            .news-stock-table__cell:last-child {
                color: $orange;

                &::before {
                    content: "- ";
                }
            }
        }

        &__row_change_positive {
            .news-stock-table__cell:last-child {
                color: #49c523;
            }
        }

        /* .news-stock-table__cell */

        &__cell {
            font-size: 1.5rem;
            width: 33.33%;
            position: relative;

            &:last-child::after {
                content: "00";
            }

            & + & {
                margin-left: 1em;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}
