@import '../../base/all/var';

.photo-gallery {
    &-executed-works {
        padding-bottom: 7rem;

        .container {
            width: calc(100% - 4rem);
        }

        .text {
            text-align: left;
        }

        .navigation {
            &-left,
            &-right {
                display: none;
            }
        }

        .photo-gallery {
            &__slider-box {
                img {
                    height: 20.5rem;
                }
            }
        }

    }

    .title {
        margin-bottom: 0.963em;
    }

    &__slider-box {
        max-width: 34rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__preview {
        cursor: pointer;
    }

    &__previews.owl-carousel {
        display: none;
    }

    .navigation {
        &-left.disabled {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 5.53125C6.71875 5.25 6.71875 4.78125 7 4.46875L11.25 0.21875C11.5625 -0.0625 12.0312 -0.0625 12.3125 0.21875L13.0312 0.9375C13.3125 1.25 13.3125 1.71875 13.0312 2L10 5.03125L13.0312 8.03125C13.3125 8.3125 13.3125 8.78125 13.0312 9.09375L12.3125 9.78125C12.0312 10.0938 11.5625 10.0938 11.25 9.78125L7 5.53125ZM1 4.46875L5.25 0.21875C5.5625 -0.0625 6.03125 -0.0625 6.3125 0.21875L7.03125 0.9375C7.3125 1.21875 7.3125 1.71875 7.03125 2L4 5L7.03125 8.03125C7.3125 8.3125 7.3125 8.78125 7.03125 9.09375L6.3125 9.78125C6.03125 10.0938 5.53125 10.0938 5.25 9.78125L1 5.53125C0.71875 5.25 0.71875 4.78125 1 4.46875Z' fill='%23C9C9C9'/%3E%3C/svg%3E%0A");
        }
        
        &-right.disabled {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 5.53125C7.28125 5.25 7.28125 4.78125 7 4.46875L2.75 0.21875C2.4375 -0.0625 1.96875 -0.0625 1.6875 0.21875L0.96875 0.9375C0.6875 1.25 0.6875 1.71875 0.96875 2L4 5.03125L0.96875 8.03125C0.6875 8.3125 0.6875 8.78125 0.96875 9.09375L1.6875 9.78125C1.96875 10.0938 2.4375 10.0938 2.75 9.78125L7 5.53125ZM13 4.46875L8.75 0.21875C8.4375 -0.0625 7.96875 -0.0625 7.6875 0.21875L6.96875 0.9375C6.6875 1.21875 6.6875 1.71875 6.96875 2L10 5L6.96875 8.03125C6.6875 8.3125 6.6875 8.78125 6.96875 9.09375L7.6875 9.78125C7.96875 10.0938 8.46875 10.0938 8.75 9.78125L13 5.53125C13.2812 5.25 13.2812 4.78125 13 4.46875Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
        }
    }

    @media (min-width: 768px) {
        &-executed-works {
            padding-bottom: 5.5rem;

            .text {
                max-width: 71rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 3rem;

                .block {
                    display: block;
                }
            }

            .navigation {
                &-left,
                &-right {
                    display: block;
                }
            }

            .photo-gallery {
                &__slider-box {
                    img {
                        height: 38.2rem;
                    }
                }
            }
        }

        &__slider-box {
            margin-bottom: 1.063em;
        }

        &__slider-box,
        &__previews {
            max-width: 70.7rem;
        }

        &__previews.owl-carousel {
            display: block;
        }

        &__previews {
            margin-left: auto;
            margin-right: auto;

            img {
                border: 0.188em solid transparent;
            }

            .current {
                img {
                    opacity: 1;
                    border: 0.188em solid $orange;
                }
            }
        }

        &__preview {
            img {
                opacity: 0.43;
            }
        }

        .navigation {
            &-left,
            &-right {
                background-color: transparent;
            }

            &-left.disabled {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.875 10.7461C11.3477 10.2188 11.3477 9.33984 11.875 8.75391L19.8438 0.785156C20.4297 0.257812 21.3086 0.257812 21.8359 0.785156L23.1836 2.13281C23.7109 2.71875 23.7109 3.59766 23.1836 4.125L17.5 9.80859L23.1836 15.4336C23.7109 15.9609 23.7109 16.8398 23.1836 17.4258L21.8359 18.7148C21.3086 19.3008 20.4297 19.3008 19.8438 18.7148L11.875 10.7461ZM0.625 8.75391L8.59375 0.785156C9.17969 0.257812 10.0586 0.257812 10.5859 0.785156L11.9336 2.13281C12.4609 2.66016 12.4609 3.59766 11.9336 4.125L6.25 9.75L11.9336 15.4336C12.4609 15.9609 12.4609 16.8398 11.9336 17.4258L10.5859 18.7148C10.0586 19.3008 9.12109 19.3008 8.59375 18.7148L0.625 10.7461C0.0976562 10.2188 0.0976562 9.33984 0.625 8.75391Z' fill='%23C9C9C9'/%3E%3C/svg%3E%0A");
            }

            &-left {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.875 10.7461C11.3477 10.2188 11.3477 9.33984 11.875 8.75391L19.8438 0.785156C20.4297 0.257812 21.3086 0.257812 21.8359 0.785156L23.1836 2.13281C23.7109 2.71875 23.7109 3.59766 23.1836 4.125L17.5 9.80859L23.1836 15.4336C23.7109 15.9609 23.7109 16.8398 23.1836 17.4258L21.8359 18.7148C21.3086 19.3008 20.4297 19.3008 19.8438 18.7148L11.875 10.7461ZM0.625 8.75391L8.59375 0.785156C9.17969 0.257812 10.0586 0.257812 10.5859 0.785156L11.9336 2.13281C12.4609 2.66016 12.4609 3.59766 11.9336 4.125L6.25 9.75L11.9336 15.4336C12.4609 15.9609 12.4609 16.8398 11.9336 17.4258L10.5859 18.7148C10.0586 19.3008 9.12109 19.3008 8.59375 18.7148L0.625 10.7461C0.0976562 10.2188 0.0976562 9.33984 0.625 8.75391Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
            }
            
            &-right.disabled {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.125 10.7461C12.6523 10.2188 12.6523 9.33984 12.125 8.75391L4.15625 0.785156C3.57031 0.257812 2.69141 0.257812 2.16406 0.785156L0.816406 2.13281C0.289062 2.71875 0.289062 3.59766 0.816406 4.125L6.5 9.80859L0.816406 15.4336C0.289062 15.9609 0.289062 16.8398 0.816406 17.4258L2.16406 18.7148C2.69141 19.3008 3.57031 19.3008 4.15625 18.7148L12.125 10.7461ZM23.375 8.75391L15.4062 0.785156C14.8203 0.257812 13.9414 0.257812 13.4141 0.785156L12.0664 2.13281C11.5391 2.66016 11.5391 3.59766 12.0664 4.125L17.75 9.75L12.0664 15.4336C11.5391 15.9609 11.5391 16.8398 12.0664 17.4258L13.4141 18.7148C13.9414 19.3008 14.8789 19.3008 15.4062 18.7148L23.375 10.7461C23.9023 10.2188 23.9023 9.33984 23.375 8.75391Z' fill='%23C9C9C9'/%3E%3C/svg%3E%0A");
            }

            &-right {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.125 10.7461C12.6523 10.2188 12.6523 9.33984 12.125 8.75391L4.15625 0.785156C3.57031 0.257812 2.69141 0.257812 2.16406 0.785156L0.816406 2.13281C0.289062 2.71875 0.289062 3.59766 0.816406 4.125L6.5 9.80859L0.816406 15.4336C0.289062 15.9609 0.289062 16.8398 0.816406 17.4258L2.16406 18.7148C2.69141 19.3008 3.57031 19.3008 4.15625 18.7148L12.125 10.7461ZM23.375 8.75391L15.4062 0.785156C14.8203 0.257812 13.9414 0.257812 13.4141 0.785156L12.0664 2.13281C11.5391 2.66016 11.5391 3.59766 12.0664 4.125L17.75 9.75L12.0664 15.4336C11.5391 15.9609 11.5391 16.8398 12.0664 17.4258L13.4141 18.7148C13.9414 19.3008 14.8789 19.3008 15.4062 18.7148L23.375 10.7461C23.9023 10.2188 23.9023 9.33984 23.375 8.75391Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
            }
        }
    }

    @media (min-width: 1200px) {
        &-executed-works {
            padding-bottom: 6rem;

            .text {
                max-width: 80rem;
            }
        }

        &__slider-box,
        &__previews {
            max-width: 79.6rem;
        }
    }
}