@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.plan-for-combining-balcony-and-loggia {
    /* .plan-for-combining-balcony-and-loggia__wrapper */

    &__wrapper {
        text-align: center;
    }

    /* .plan-for-combining-balcony-and-loggia__title */

    &__title {
        line-height: 1.2em;
        margin-bottom: 1em;

        @include _768 {
            line-height: 1.1;
        }

        @include _1200 {
            line-height: 1.2;
            margin-bottom: 0.8em;
        }
    }

    /* .plan-for-combining-balcony-and-loggia__slider */

    &__slider {
        margin-bottom: 3.3em;
        padding-bottom: 0.5em;

        & .pagination.active {
            background-color: #17a1e3;
        }

        @include _768 {
            margin-bottom: 3.8em;
        }

        @include _1200 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;
            padding-bottom: 0;
        }
    }

    /* .plan-for-combining-balcony-and-loggia__item */

    &__item {
        position: relative;
        width: fit-content;
        margin: 0 auto;

        @include _1200 {
            margin: 0;
        }
    }

    /* .plan-for-combining-balcony-and-loggia__box-img */

    &__box-img {
        width: 100%;
        max-width: 22.6rem;
        height: 18.2rem;
        border-radius: 0.6rem 0.6rem 0 0;
        overflow: hidden;
        margin: 0 auto;
    }

    /* .plan-for-combining-balcony-and-loggia__img */

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* .plan-for-combining-balcony-and-loggia__number */

    &__number {
        position: absolute;
        text-align: center;
        top: 0.5em;
        left: 0.5em;
        height: 3.1rem;
        width: 3.1rem;
        background-color: #fff;
        border-radius: 50%;
        line-height: 3.1rem;
        color: $orange;
    }

    /* .plan-for-combining-balcony-and-loggia__item-text */

    &__item-text {
        font-size: 1.4rem;
        max-width: 22.6rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 6rem;
        padding: 0.5em 0.7em;
        border-radius: 0 0 0.6rem 0.6rem;
        border: 0.1rem solid #e6e6e6;
    }

    /* .plan-for-combining-balcony-and-loggia__box-text */

    &__box-text {
        background-color: $lightGray;
        padding: 0.9em 0.5em;
        border-radius: 1rem;
        margin-bottom: 1.7em;

        @include _768 {
            padding: 1.6em 0.6em;
        }
    }

    /* .plan-for-combining-balcony-and-loggia__warning */

    &__warning {
        margin-bottom: 0.2em;
        display: block;
        font-size: 2rem;

        @include _768 {
            margin-bottom: 0.4em;
        }

        @include _1200 {
            font-size: 2.4rem;
        }
    }

    /* .plan-for-combining-balcony-and-loggia__text */

    &__text {
        line-height: 1.1;

        @include _768 {
            line-height: 1.2;
        }
    }

    /* .plan-for-combining-balcony-and-loggia__btn */

    &__btn {
        @include _768 {
            max-width: 30.6rem;
        }
    }
}