@import '../../base/all/var';

.right-balcony {
    .container {
        width: 100%;
    }

    .title,
    &__box,
    &__slider,
    &__advantages,
    &__advantages-icon,
    &__navigation {
        margin-right: auto;
        margin-left: auto;
    }

    .title {
        margin-bottom: 2.5rem;
        max-width: 28rem;
    }

    &__tabs,
    &__advantages,
    &__details-materials,
    &__details-types,
    &__navigation {
        display: flex;
    }

    &__tabs-item,
    &__navigation-left,
    &__navigation-right,
    .pagination {
        cursor: pointer;
    }

    &__tabs {
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 1.4rem;

        & {
            scrollbar-width: thin;
            scrollbar-color: #FFE600 #ccc;
        }
    
        &::-webkit-scrollbar {
            height: 0.5rem;
        }
    
        &::-webkit-scrollbar-track {
            background-color: #979797;
            border: 2px solid #fff;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #FFE600;
            border-radius: 2em;
            border: 0 solid #979797;
        }

        &-item {
            position: relative;
            padding: 0.5rem 1rem;
            color: #C9C9C9;
            font-weight: 700;
            font-size: 1.6rem;

            &.active {
                color: #000000;
                font-weight: 900;
            }

            &-text {
                display: none;
            }
        }
    }

    &__temperature-text {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__box {
        width: calc(100% - 2.5rem);
        margin-bottom: 2.6rem;
        display: none;
        
        &.active {
            display: block;
        }
    }

    &__slider {
        max-width: 33.8rem;
        margin-bottom: 2.4rem;
    }

    .navigation {
        &-left,
        &-right {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            background-color: rgba(242, 100, 34, 0.35);
            background-repeat: no-repeat;
        }

        &-left {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.32422 5.34961L10.3086 9.33398C10.4453 9.4707 10.6113 9.53906 10.8066 9.53906C11.002 9.53906 11.168 9.4707 11.3047 9.33398L11.9492 8.66016C12.0859 8.52344 12.1543 8.35742 12.1543 8.16211C12.1543 7.9668 12.0859 7.80078 11.9492 7.66406L9.13672 4.85156L11.9492 2.03906C12.0859 1.90234 12.1543 1.73633 12.1543 1.54102C12.1543 1.3457 12.0859 1.17969 11.9492 1.04297L11.3047 0.369141C11.168 0.232422 11.002 0.164062 10.8066 0.164062C10.6113 0.164062 10.4453 0.232422 10.3086 0.369141L6.32422 4.35352C6.1875 4.49023 6.11914 4.65625 6.11914 4.85156C6.11914 5.04688 6.1875 5.21289 6.32422 5.34961ZM0.699219 4.35352C0.5625 4.49023 0.494141 4.65625 0.494141 4.85156C0.494141 5.04688 0.5625 5.21289 0.699219 5.34961L4.68359 9.33398C4.82031 9.4707 4.98633 9.53906 5.18164 9.53906C5.37695 9.53906 5.54297 9.4707 5.67969 9.33398L6.32422 8.66016C6.46094 8.52344 6.5293 8.35742 6.5293 8.16211C6.5293 7.9668 6.46094 7.80078 6.32422 7.66406L3.51172 4.85156L6.32422 2.03906C6.46094 1.90234 6.5293 1.73633 6.5293 1.54102C6.5293 1.3457 6.46094 1.17969 6.32422 1.04297L5.67969 0.369141C5.60156 0.310547 5.52344 0.261719 5.44531 0.222656C5.34766 0.183594 5.25977 0.164062 5.18164 0.164062C5.08398 0.164062 4.99609 0.183594 4.91797 0.222656C4.82031 0.261719 4.74219 0.310547 4.68359 0.369141L0.699219 4.35352Z' fill='%23D0D0D0'/%3E%3C/svg%3E%0A");
        }

        &-right {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58594 5.34961L2.60156 9.33398C2.46484 9.4707 2.29883 9.53906 2.10352 9.53906C1.9082 9.53906 1.74219 9.4707 1.60547 9.33398L0.960938 8.66016C0.824219 8.52344 0.755859 8.35742 0.755859 8.16211C0.755859 7.9668 0.824219 7.80078 0.960938 7.66406L3.77344 4.85156L0.960938 2.03906C0.824219 1.90234 0.755859 1.73633 0.755859 1.54102C0.755859 1.3457 0.824219 1.17969 0.960938 1.04297L1.60547 0.369141C1.74219 0.232422 1.9082 0.164062 2.10352 0.164062C2.29883 0.164062 2.46484 0.232422 2.60156 0.369141L6.58594 4.35352C6.72266 4.49023 6.79102 4.65625 6.79102 4.85156C6.79102 5.04688 6.72266 5.21289 6.58594 5.34961ZM12.2109 4.35352C12.3477 4.49023 12.416 4.65625 12.416 4.85156C12.416 5.04688 12.3477 5.21289 12.2109 5.34961L8.22656 9.33398C8.08984 9.4707 7.92383 9.53906 7.72852 9.53906C7.5332 9.53906 7.36719 9.4707 7.23047 9.33398L6.58594 8.66016C6.44922 8.52344 6.38086 8.35742 6.38086 8.16211C6.38086 7.9668 6.44922 7.80078 6.58594 7.66406L9.39844 4.85156L6.58594 2.03906C6.44922 1.90234 6.38086 1.73633 6.38086 1.54102C6.38086 1.3457 6.44922 1.17969 6.58594 1.04297L7.23047 0.369141C7.30859 0.310547 7.38672 0.261719 7.46484 0.222656C7.5625 0.183594 7.65039 0.164062 7.72852 0.164062C7.82617 0.164062 7.91406 0.183594 7.99219 0.222656C8.08984 0.261719 8.16797 0.310547 8.22656 0.369141L12.2109 4.35352Z' fill='%23D0D0D0'/%3E%3C/svg%3E%0A");
        }
    }

    .pagination {
        width: 0.6rem;
        height: 0.6rem;
        margin-left: 0.1rem;
        margin-right: 0.6rem;
        background-color: $white;

        &.active {
            background-color: $orange;
        }

        &-box {
            bottom: 1.2em;
        }
    }

    &__advantages {
        max-width: 17em;
        margin-bottom: 1.3em;
        justify-content: space-between;

        &-item {
            text-align: center;
        }

        &-icon {
            width: 3.750em;
            height: 3.750em;
            margin-bottom: 0.438em;
            border: 0.188em solid $orange;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            
            &--1 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='11' height='35' viewBox='0 0 11 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.51662 34.995C2.88627 34.5928 2.17522 34.2726 1.63312 33.7721C-0.811398 31.5141 -0.454617 27.49 2.32147 25.6493C2.42051 25.5956 2.50169 25.5142 2.555 25.4149C2.60831 25.3157 2.63144 25.203 2.62152 25.0908C2.61395 17.5568 2.61395 10.0228 2.62152 2.48881C2.62152 1.50797 3.00729 0.72381 3.8318 0.180444C3.99503 0.0775838 4.18239 0.0193341 4.37516 0.0115091C4.95761 -0.0036194 5.54762 -0.0036194 6.12377 0.0102484C6.29594 0.0131083 6.46445 0.0604468 6.61293 0.147666C7.416 0.662036 7.85094 1.40081 7.85725 2.36147C7.86607 3.82012 7.85725 5.2775 7.85725 6.73488V7.14965H9.64745V7.82791H7.88246V12.0752H9.64745V12.7371H7.88246V16.9958H9.64745V17.6577H7.8749V21.8924H9.63989V22.5707H7.89129C7.87868 22.6967 7.86103 22.7812 7.86103 22.8682C7.86103 23.6385 7.8522 24.4088 7.86103 25.1778C7.86386 25.2469 7.88089 25.3147 7.91103 25.3769C7.94118 25.4392 7.98381 25.4946 8.03627 25.5396C9.77983 26.7184 10.656 28.3636 10.4657 30.4564C10.2665 32.6475 9.04736 34.149 6.9924 34.9571C6.97223 34.9647 6.9571 34.9861 6.93945 35L3.51662 34.995ZM6.93441 14.0495V5.05561C6.93441 4.15799 6.94701 3.2591 6.93441 2.36147C6.93182 2.09812 6.86757 1.83904 6.74679 1.60501C6.62601 1.37097 6.45207 1.16849 6.23892 1.01381C6.02577 0.859123 5.77934 0.756538 5.51939 0.714277C5.25944 0.672017 4.9932 0.691258 4.74203 0.770457C4.00452 1.00495 3.57587 1.64413 3.57587 2.5241C3.57587 10.1178 3.57966 17.711 3.58722 25.3039C3.58722 25.8019 3.45485 26.0704 3.0136 26.3427C1.52848 27.263 0.808615 28.6473 0.969986 30.3883C1.13766 32.2037 2.13992 33.4783 3.86962 34.0671C5.56401 34.647 7.10838 34.2549 8.35901 32.9677C10.3169 30.9506 9.82143 27.7081 7.35044 26.2582C7.21379 26.1942 7.10038 26.0894 7.02586 25.9582C6.95134 25.827 6.91938 25.6759 6.93441 25.5258C6.94575 21.7008 6.93441 17.8745 6.93441 14.0495Z' fill='black'/%3E%3Cpath d='M4.22939 15.6104H6.26922V16.034C6.26922 19.3698 6.26922 22.7056 6.26922 26.0415C6.26922 26.3062 6.32217 26.4411 6.59952 26.5458C8.31283 27.2051 9.24701 28.9209 8.9041 30.7414C8.58892 32.4093 7.0622 33.6776 5.30729 33.7192C4.44845 33.7269 3.61315 33.4386 2.94199 32.9026C2.27082 32.3667 1.80476 31.616 1.62224 30.7767C1.25915 29.0117 2.16939 27.2467 3.81966 26.5899C4.13988 26.4638 4.24073 26.3138 4.23821 25.9671C4.22182 22.6665 4.22939 19.366 4.22939 16.0642V15.6104Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 0.8em;
            }

            &--2 {
                margin-bottom: 0.8em;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='39' height='35' viewBox='0 0 39 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9115 17.5007V33.7598C22.9115 33.8996 22.9115 34.0409 22.9115 34.1807C22.8769 34.8948 22.232 35.2331 21.6366 34.8227C20.6775 34.1702 19.7213 33.5132 18.7802 32.8292C15.6231 30.5305 12.4916 28.2138 9.34199 25.9136C8.53919 25.3273 7.71985 24.7621 6.89449 24.2088C6.72408 24.1058 6.52836 24.0521 6.32922 24.054C4.5823 24.0419 2.83537 24.054 1.08845 24.054C0.245051 24.054 0 23.8059 0 22.958V12.0059C0 11.2061 0.245051 10.9626 1.05236 10.9535C2.78576 10.9535 4.52066 10.9626 6.25405 10.943C6.51549 10.9377 6.76979 10.8568 6.9862 10.71C11.782 7.27827 16.5722 3.83253 21.357 0.372755C21.4878 0.271514 21.6249 0.178621 21.7674 0.09463C21.8766 0.0345134 21.9989 0.00205661 22.1236 9.45756e-05C22.2483 -0.00186745 22.3715 0.0267249 22.4826 0.0833744C22.5937 0.140024 22.6892 0.223007 22.7608 0.325077C22.8324 0.427147 22.878 0.545198 22.8934 0.66892C22.9107 0.833689 22.9168 0.999446 22.9115 1.16504V17.5007ZM21.3254 2.38879C21.2067 2.46095 21.121 2.50455 21.0428 2.56167C19.1185 3.96583 17.2062 5.38802 15.2683 6.77113C12.6895 8.62329 10.0977 10.4554 7.49284 12.2675C7.25101 12.4248 6.9695 12.5103 6.68101 12.514C5.11299 12.5366 3.54497 12.5321 1.97694 12.514C1.67627 12.514 1.55299 12.5667 1.55449 12.9049C1.56652 15.9648 1.56652 19.0247 1.55449 22.0845C1.55449 22.4198 1.67627 22.4814 1.97694 22.4784C3.53144 22.4664 5.08743 22.4559 6.63741 22.4859C6.97516 22.4949 7.30349 22.5991 7.58454 22.7866C11.6397 25.7052 15.6862 28.6343 19.7243 31.5739C20.234 31.9422 20.7511 32.3 21.3209 32.7014L21.3254 2.38879Z' fill='black'/%3E%3Cpath d='M32.3316 23.424C31.1599 23.4243 30.0143 23.0773 29.0396 22.4269C28.065 21.7764 27.305 20.8517 26.8556 19.7695C26.4062 18.6873 26.2876 17.4962 26.5149 16.3467C26.7421 15.1972 27.3049 14.1408 28.1322 13.311C28.9595 12.4811 30.0142 11.9151 31.163 11.6844C32.3119 11.4537 33.5033 11.5686 34.5868 12.0147C35.6704 12.4608 36.5974 13.218 37.2508 14.1907C37.9042 15.1634 38.2547 16.3079 38.258 17.4796C38.2631 18.2602 38.1135 19.034 37.8177 19.7564C37.522 20.4787 37.0859 21.1353 36.5348 21.6881C35.9837 22.2409 35.3285 22.6789 34.607 22.9769C33.8856 23.2748 33.1122 23.4268 32.3316 23.424V23.424ZM35.2753 20.6217C36.9621 19.1349 37.0943 16.4573 35.594 14.6864C34.0109 12.8162 31.4221 12.8973 30.2179 13.7843L35.2753 20.6217ZM29.0137 14.7781C27.6005 16.3145 27.7088 18.8582 29.2182 20.4909C30.3938 21.7643 32.8759 22.2679 33.9342 21.426L29.0137 14.7781Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 2em;
            }

            &--3 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='29' height='35' viewBox='0 0 29 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00471599 21.2093C0.020043 20.3262 0.0412649 19.4408 0.0506969 18.5589C0.0494427 18.1318 0.212135 17.7205 0.505217 17.4099C0.798299 17.0993 1.19942 16.913 1.62584 16.8894C2.39337 16.854 3.15854 16.8658 3.93196 16.8576C4.05693 16.8576 4.18191 16.8576 4.34814 16.8576C4.34814 16.6819 4.34814 16.5463 4.34814 16.4096C4.35993 13.9054 4.36347 11.4012 4.38941 8.89581C4.41299 6.61916 5.34676 4.70447 6.8205 3.02676C7.96062 1.71891 9.4358 0.746732 11.0873 0.214847C11.4384 0.101452 11.8042 0.0398892 12.1732 0.0321021C13.2555 0.00852213 14.3425 0.074546 15.4213 0.00852213C16.4576 -0.0551438 17.3784 0.244322 18.2674 0.692341C21.0086 2.07648 22.7995 4.24702 23.5729 7.22753C23.6986 7.72055 23.7655 8.22672 23.7721 8.73546C23.8063 11.2986 23.8122 13.8617 23.8275 16.4249C23.8275 16.551 23.8275 16.6772 23.8275 16.8647C24.2437 16.8647 24.6257 16.8647 25.0065 16.8647C25.576 16.8753 26.149 16.8647 26.7161 16.9201C27.0746 16.9459 27.4102 17.1058 27.656 17.368C27.9019 17.6302 28.0398 17.9755 28.0425 18.3349C28.079 19.2191 28.1061 20.1034 28.1073 20.99C28.1144 25.2296 28.1144 29.4701 28.1073 33.7114C28.1108 33.8779 28.0809 34.0434 28.0194 34.1982C27.9579 34.353 27.8661 34.494 27.7493 34.6127C27.6325 34.7315 27.4931 34.8257 27.3394 34.8898C27.1856 34.9538 27.0206 34.9865 26.854 34.9859C18.3605 34.9859 9.86782 34.9906 1.37589 35C0.773423 35 0.451556 34.7406 0.202788 34.269C0.133227 34.137 0.0672029 34.0014 0 33.867L0.00471599 21.2093ZM14.0572 34.111H26.116C26.9625 34.111 26.9837 34.111 26.9825 33.2398C26.977 28.4978 26.9641 23.7563 26.9436 19.0151C26.9436 18.0719 26.9165 18.0613 25.9804 18.059C18.0811 18.0417 10.1818 18.0291 2.28254 18.0213C1.23559 18.0213 1.19904 17.7619 1.19197 19.1012C1.16839 23.0155 1.16721 26.9298 1.16249 30.8452C1.16249 31.753 1.18018 32.662 1.2014 33.5711C1.21201 34.0568 1.27921 34.111 1.75317 34.111H14.0572ZM8.7517 16.8399C8.7517 16.4532 8.7517 16.1042 8.7517 15.7552C8.76821 13.2616 8.7741 10.7692 8.81301 8.27566C8.83147 7.90427 8.92154 7.53996 9.07828 7.20277C10.0215 5.04166 12.7815 3.67874 15.0912 4.20458C17.7133 4.80233 19.3591 6.79837 19.391 9.47823C19.4181 11.7855 19.4075 14.0928 19.4146 16.4001V16.8281H22.6804V16.4591C22.671 13.9832 22.6462 11.4943 22.6603 9.01253C22.665 8.2795 22.5495 7.55066 22.3184 6.85496C20.9732 2.74144 17.2181 0.330389 12.7037 0.968226C9.78215 1.3797 7.61161 3.01732 6.33711 5.70426C5.96219 6.49065 5.59552 7.36665 5.56015 8.21435C5.44225 10.9602 5.49295 13.7132 5.47762 16.4673C5.47762 16.5852 5.48706 16.7137 5.49295 16.8446L8.7517 16.8399ZM18.2426 16.8399C18.2558 16.7932 18.2652 16.7455 18.2709 16.6972C18.2627 14.1034 18.2627 11.5026 18.2332 8.90524C18.2227 8.52169 18.1382 8.14379 17.9844 7.79227C17.0106 5.54156 14.372 4.57714 12.0765 5.65003C10.8185 6.23953 9.93659 7.13792 9.92834 8.63997C9.91341 11.2731 9.90005 13.9062 9.88826 16.5393C9.88826 16.6383 9.90594 16.7385 9.91537 16.8411L18.2426 16.8399Z' fill='black'/%3E%3Cpath d='M14.083 30.8014C13.4075 30.8014 12.7319 30.8096 12.0563 30.8014C11.5847 30.7931 11.4197 30.5585 11.5623 30.0834C11.7805 29.3595 11.995 28.6308 12.2697 27.9305C12.5409 27.2526 12.6647 26.735 12.0056 26.1137C11.244 25.398 11.1638 24.3605 11.6225 23.422C12.1212 22.401 12.9595 21.7125 14.1691 21.7856C15.3481 21.8563 16.1934 22.5213 16.6002 23.6071C16.9763 24.6093 16.7818 25.5926 15.9801 26.3353C15.5591 26.7268 15.5544 27.0486 15.7443 27.5356C16.0661 28.3609 16.3267 29.205 16.5849 30.0504C16.7488 30.5868 16.5849 30.7931 16.0331 30.8037C15.3811 30.8167 14.728 30.8037 14.076 30.8037L14.083 30.8014ZM15.2774 29.6743C15.2267 29.508 15.1901 29.376 15.1477 29.2463C14.8753 28.421 14.5853 27.5957 14.3342 26.7633C14.1892 26.2811 14.254 26.1443 14.7103 25.9286C15.4483 25.5808 15.703 25.0019 15.6228 24.2238C15.5474 23.4881 14.9626 22.9504 14.1573 22.8986C13.4004 22.849 12.7531 23.3088 12.5904 24.0092C12.3829 24.9005 12.6482 25.4876 13.4523 25.9203C13.9062 26.1656 13.9805 26.3023 13.8296 26.8234C13.6645 27.3917 13.4594 27.9482 13.2719 28.5106C13.1457 28.8879 13.0184 29.2651 12.8805 29.6743H15.2774Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 1.6em;
            }

            &--4 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='33' height='35' viewBox='0 0 33 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.1909 19.3157C31.7617 19.6924 31.4211 19.6726 30.9546 19.2912C30.4064 18.8422 29.8839 18.3406 29.2739 17.9942C28.1821 17.3831 26.9243 17.1347 25.6822 17.285C24.44 17.4354 23.2778 17.9766 22.3633 18.8305C22.1499 19.0276 21.9364 19.2282 21.7043 19.4032C21.3428 19.6761 21.1107 19.6761 20.7573 19.3927C20.4039 19.1092 20.0866 18.7768 19.7274 18.5016C17.3819 16.7019 14.2153 16.8396 12.0214 18.8247C11.8138 19.0124 11.6179 19.2142 11.3998 19.388C11.0359 19.6773 10.7921 19.6819 10.4247 19.388C10.0153 19.0614 9.64093 18.6882 9.22222 18.3756C6.99802 16.7148 3.69728 16.913 1.68069 18.8282C1.49408 19.0043 1.31446 19.1897 1.11735 19.3518C0.739457 19.6633 0.477031 19.6656 0 19.3857V15.6767C0.129463 15.2323 0.242598 14.781 0.391889 14.3424C2.46097 8.28215 6.77874 4.79714 12.93 3.43136C13.617 3.27974 14.3296 3.22375 15.0597 3.11762C15.0597 2.48546 15.0597 1.86847 15.0597 1.25148C15.0597 0.655481 15.2498 0.179616 15.8855 0H16.3054C16.8559 0.220438 17.1101 0.626323 17.0892 1.21765C17.081 1.47425 17.0985 1.73084 17.0997 1.98744C17.0997 2.36766 17.0997 2.74789 17.0997 3.12928C17.2163 3.14561 17.2863 3.15844 17.3551 3.16427C19.6016 3.3451 21.7899 3.96988 23.7933 5.00242C27.0333 6.68194 29.478 9.13358 31.0385 12.4483C31.5566 13.5937 31.9432 14.7941 32.1909 16.0266V19.3157ZM22.0717 16.8547C24.8709 15.1752 27.6643 15.0994 30.4997 16.6658C30.4215 14.9676 29.1887 11.7205 26.9832 9.45782C24.8224 7.20581 22.0127 5.68417 18.946 5.10505C21.1235 8.74869 21.7288 12.7434 22.0717 16.8547ZM10.0771 16.8547C10.4165 12.7481 11.0324 8.75218 13.2099 5.09339C9.43332 5.89933 6.39152 7.71065 4.1125 10.7315C2.78 12.4805 1.91101 14.5378 1.58622 16.7124C2.97766 15.9205 4.37143 15.5356 5.87717 15.5543C7.38291 15.5729 8.77551 16.0464 10.0771 16.8582V16.8547ZM20.3246 16.7754C20.3316 16.6538 20.3316 16.5319 20.3246 16.4103C20.131 14.9909 19.9875 13.5633 19.7262 12.1556C19.3612 10.2183 18.778 8.33814 17.8449 6.58747C17.5242 5.9903 17.1591 5.42113 16.5853 5.02224C16.2751 4.80647 15.9485 4.76098 15.6464 4.99542C15.3647 5.20159 15.1114 5.44393 14.8929 5.71621C14.1185 6.74026 13.6286 7.91242 13.2181 9.11841C12.5743 11.0137 12.2034 12.9673 11.9701 14.9501C11.9001 15.5461 11.8535 16.1468 11.7987 16.7917C14.669 15.1437 17.4857 15.1274 20.3246 16.7789V16.7754Z' fill='black'/%3E%3Cpath d='M15.0459 18.146H17.0823C17.0905 18.2626 17.101 18.3699 17.101 18.4726C17.094 22.5159 17.0843 26.5592 17.0718 30.6025C17.0718 31.3023 17.0427 31.9939 16.7336 32.6529C15.4798 35.3273 12.0741 35.8172 10.1286 33.5999C9.3577 32.7217 9.08944 31.693 9.16409 30.5558C9.16936 30.3142 9.26332 30.083 9.42808 29.9062C9.59283 29.7294 9.81687 29.6194 10.0575 29.5971C10.6138 29.5458 10.9812 29.8 11.1282 30.375C11.177 30.6024 11.2024 30.8341 11.204 31.0667C11.246 31.9053 11.814 32.6692 12.5581 32.8792C12.9579 33.003 13.3875 32.9899 13.7789 32.842C14.1704 32.6942 14.5013 32.4199 14.7193 32.0627C14.8692 31.8287 14.9579 31.5608 14.9771 31.2836C15.0238 30.2945 15.0389 29.3008 15.0413 28.3141C15.0483 25.0733 15.0483 21.8328 15.0413 18.5927L15.0459 18.146Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 1.9em;
            }

            &--5 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='35' viewBox='0 0 26 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.37764 35H1.78007V25.0578H0V21.4602H1.7441V19.3132H0V15.7156C0.470561 15.7156 0.923855 15.6955 1.37427 15.7156C1.69805 15.7343 1.78295 15.6293 1.78295 15.3084C1.7724 10.7112 1.77 6.11347 1.77576 1.5153V1.02686e-05H2.17005C7.68919 1.02686e-05 13.2088 1.02686e-05 18.7289 1.02686e-05C18.9141 -0.000622934 19.0981 0.028032 19.2743 0.0849128C23.5756 1.52394 26.2939 5.67985 25.9557 10.302C25.6348 14.6637 22.1768 18.4325 17.8079 19.1578C17.2328 19.2525 16.651 19.3006 16.0682 19.3017C12.6606 19.3146 9.25294 19.3017 5.85108 19.3017H5.39635V21.4415H18.9649V25.0391H5.37764V35ZM5.39347 3.16587V15.6955C5.44682 15.7049 5.50061 15.7116 5.55464 15.7156C9.1263 15.7156 12.698 15.7674 16.2682 15.6998C20.2485 15.625 23.0633 12 22.256 8.10892C21.6573 5.21936 19.0901 3.16299 16.0423 3.15292C12.6001 3.1414 9.15652 3.15292 5.71437 3.15292C5.6122 3.15148 5.51003 3.16587 5.39347 3.16587Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 1.4em;
            }

            &--6 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16.4985C0.0890354 15.8553 0.160498 15.2098 0.271792 14.5678C0.831474 11.2753 2.32267 8.21198 4.56892 5.74044C7.22827 2.75776 10.5437 0.926676 14.4577 0.155817C14.9264 0.0649564 15.4025 0.0182816 15.8799 0.0164061C17.4029 0.00937695 18.9364 -0.0363123 20.4559 0.0644383C22.0245 0.167532 23.5124 0.687686 24.9369 1.34256C25.8742 1.77368 26.7751 2.28564 27.7427 2.78705C28.0157 2.3899 28.3097 1.9459 28.6225 1.51712C28.8006 1.27462 28.9166 0.886844 29.3044 0.961821C29.664 1.03211 29.6617 1.41754 29.7413 1.69753C30.1397 3.11039 30.5302 4.5248 30.9129 5.94077C31.1026 6.63197 30.8086 7.05957 30.0986 7.12518C28.5562 7.26576 27.0133 7.40361 25.47 7.53872C25.4003 7.54538 25.3302 7.54733 25.2603 7.54458C24.8374 7.52584 24.6745 7.27748 24.8995 6.91782C25.1654 6.48084 25.4712 6.06847 25.7593 5.64438C25.8507 5.51083 25.9409 5.37727 26.0581 5.20272C25.8238 5.04808 25.6024 4.89812 25.3763 4.76574C20.1232 1.67293 13.4549 2.03376 8.66924 5.83299C4.16358 9.41081 2.2868 14.1508 3.06821 19.8608C3.59656 23.7092 5.47099 26.8535 8.49351 29.2903C10.4041 30.8359 12.6746 31.8728 15.0938 32.3046C15.6562 32.4089 16.0545 32.7193 16.2431 33.2606C16.3309 33.4977 16.3516 33.7544 16.3028 34.0024C16.254 34.2505 16.1377 34.4802 15.9666 34.6664C15.8847 34.763 15.7831 34.8408 15.6684 34.8946C15.5538 34.9483 15.429 34.9768 15.3024 34.978C13.3951 35.1327 11.6941 34.4485 10.0551 33.6331C5.46865 31.3522 2.36061 27.7662 0.800147 22.8727C0.406466 21.6278 0.158401 20.3415 0.060919 19.0395C0.04694 18.9372 0.0265942 18.8359 0 18.7361L0 16.4985Z' fill='black'/%3E%3Cpath d='M15.7567 12.8634C15.7567 11.0217 15.7567 9.18127 15.7567 7.33965C15.7567 6.59339 16.2066 6.08964 16.8638 6.06738C17.1522 6.05279 17.4355 6.148 17.6565 6.33384C17.8776 6.51969 18.02 6.78237 18.0552 7.06903C18.0707 7.21963 18.0761 7.37108 18.0716 7.5224C18.0716 10.6445 18.0775 13.7678 18.0634 16.8946C18.0634 17.2355 18.1653 17.4088 18.4664 17.5623C21.3679 19.0462 24.2631 20.5438 27.1521 22.0551C27.4476 22.2096 27.6988 22.4371 27.8819 22.7158C28.1338 23.1212 27.9991 23.653 27.6476 23.9963C27.4742 24.1727 27.2477 24.2874 27.0029 24.3227C26.758 24.3581 26.5084 24.3121 26.2922 24.1919C25.1698 23.6226 24.0546 23.0403 22.9381 22.4628C20.6513 21.2807 18.3692 20.094 16.0777 18.9224C15.972 18.8816 15.8829 18.8066 15.8245 18.7095C15.7662 18.6123 15.7419 18.4984 15.7555 18.3859C15.7626 16.5454 15.7567 14.7038 15.7567 12.8634Z' fill='black'/%3E%3Cpath d='M32.7183 17.4674C32.7183 17.3162 32.7183 17.1651 32.7183 17.0128C32.7276 16.2091 33.2923 15.607 34.0725 15.5578C34.4432 15.5401 34.8062 15.6671 35.085 15.9118C35.3639 16.1566 35.5368 16.5001 35.5674 16.8699C35.6012 17.2764 35.6039 17.6849 35.5756 18.0918C35.5478 18.4563 35.3811 18.7963 35.1099 19.0415C34.8387 19.2867 34.4837 19.4185 34.1182 19.4096C33.7527 19.4008 33.4045 19.2519 33.1456 18.9939C32.8866 18.7358 32.7366 18.3881 32.7265 18.0226C32.7194 17.8364 32.7265 17.6489 32.7265 17.4627L32.7183 17.4674Z' fill='black'/%3E%3Cpath d='M25.9926 33.2475C25.6909 33.2357 25.3996 33.1345 25.1555 32.9568C24.9115 32.7791 24.7258 32.5329 24.6219 32.2494C24.52 31.962 24.5148 31.6491 24.6072 31.3584C24.6997 31.0678 24.8846 30.8154 25.1339 30.6397C25.4658 30.4048 25.8112 30.1897 26.1684 29.9954C26.4852 29.8269 26.8543 29.7854 27.2007 29.8792C27.5471 29.9729 27.8448 30.195 28.0334 30.5003C28.2274 30.7956 28.3018 31.1538 28.2413 31.5019C28.1808 31.8501 27.99 32.1621 27.7077 32.3747C27.36 32.6273 26.9952 32.8555 26.6159 33.0577C26.4284 33.1538 26.2012 33.1854 25.9926 33.2475Z' fill='black'/%3E%3Cpath d='M34.827 22.7648C34.6864 23.1233 34.5153 23.7477 34.2049 24.2878C33.8698 24.8736 33.0791 25.0212 32.4675 24.7271C32.1637 24.5838 31.9202 24.338 31.7799 24.0328C31.6395 23.7277 31.6113 23.3828 31.7002 23.0589C31.8101 22.6667 31.9463 22.2823 32.1079 21.9084C32.2397 21.6058 32.4738 21.3592 32.7691 21.2118C33.0645 21.0645 33.4023 21.0257 33.7234 21.1024C34.3666 21.2454 34.8281 21.8264 34.827 22.7648Z' fill='black'/%3E%3Cpath d='M30.1398 29.649C29.9045 29.6375 29.6761 29.5649 29.4773 29.4383C29.2784 29.3118 29.116 29.1357 29.0058 28.9273C28.8697 28.707 28.8012 28.4516 28.8089 28.1927C28.8166 27.9339 28.9002 27.683 29.0492 27.4711C29.2894 27.1135 29.559 26.7765 29.8552 26.4636C30.1036 26.2068 30.4398 26.0531 30.7966 26.0334C31.1534 26.0137 31.5044 26.1293 31.7797 26.3572C32.0549 26.5851 32.234 26.9084 32.2812 27.2626C32.3284 27.6168 32.2402 27.9758 32.0342 28.2678C31.8124 28.5809 31.5751 28.8828 31.3231 29.1722C31.0454 29.4908 30.653 29.6513 30.1398 29.649Z' fill='black'/%3E%3Cpath d='M34.7483 12.4742C34.7511 12.8002 34.642 13.1173 34.4392 13.3726C34.2365 13.6278 33.9522 13.8058 33.6341 13.8769C33.3159 13.9479 32.983 13.9076 32.6909 13.7628C32.3988 13.6179 32.1652 13.3773 32.0292 13.081C31.8663 12.7077 31.7254 12.3251 31.6074 11.9353C31.515 11.6268 31.5328 11.2958 31.6579 10.9991C31.7829 10.7023 32.0074 10.4584 32.2928 10.3092C32.5813 10.1513 32.9153 10.0972 33.2389 10.1558C33.5626 10.2145 33.8563 10.3823 34.0711 10.6314C34.3136 10.9137 34.7459 12.0934 34.7483 12.4742Z' fill='black'/%3E%3Cpath d='M20.9458 34.9687H20.5627C19.7942 34.9687 19.274 34.4075 19.3291 33.6332C19.349 33.3173 19.4719 33.0166 19.6791 32.7773C19.8863 32.5379 20.1662 32.3732 20.476 32.3082C20.7489 32.2508 21.0231 32.1992 21.296 32.1371C22.2098 31.9263 23.01 32.4101 23.14 33.2548C23.2747 34.1264 22.6714 34.8656 21.7494 34.9499C21.4835 34.9745 21.2152 34.9499 20.9469 34.9499L20.9458 34.9687Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 2em;
            }

            &--7 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='59' height='35' viewBox='0 0 59 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58.9644 34.3646C58.4098 35.0522 58.1862 35.128 57.3008 34.847C52.8441 33.426 48.2865 32.3435 43.6669 31.6086C30.7318 29.583 17.5126 30.3564 4.90199 33.8766C3.80403 34.1779 2.72086 34.5346 1.62845 34.86C0.53604 35.1853 0 34.823 0 33.6788C0 22.8903 0 12.1011 0 1.31129C0 0.168968 0.523101 -0.209957 1.6303 0.141241C6.12212 1.57406 10.7163 2.66345 15.3732 3.39999C21.6494 4.37668 28.01 4.6988 34.3527 4.36117C41.0261 3.99744 47.6403 2.91037 54.079 1.11905C55.1585 0.823306 56.225 0.475804 57.2952 0.150483C58.1917 -0.121233 58.4043 -0.062084 58.9588 0.636616L58.9644 34.3646ZM1.94268 32.7288C20.3405 27.2229 38.6928 27.2229 56.9995 32.7288V2.27616C38.625 7.78319 20.2728 7.78196 1.94268 2.27246V32.7288Z' fill='black'/%3E%3Cpath d='M30.4286 15.2353L24.8667 20.836C25.5636 21.5015 26.303 22.1965 27.0294 22.9026C27.7558 23.6087 27.8371 24.1632 27.3621 24.6179C26.8871 25.0726 26.3676 24.9469 25.6985 24.2648L21.7466 20.2981C21.5821 20.1355 21.4084 19.9821 21.1422 19.7436C20.1588 20.7602 19.2143 21.7528 18.2513 22.727C16.9685 24.0208 15.6635 25.3036 14.3862 26.6086C13.9685 27.0479 13.4235 27.3453 12.828 27.4589C10.2587 28.0134 7.69868 28.6289 5.13678 29.2204C5.09797 29.2297 5.061 29.2426 5.02218 29.25C4.3586 29.3923 3.85953 29.1336 3.71535 28.5735C3.58412 28.0633 3.90019 27.579 4.52865 27.409C5.74121 27.0818 6.95562 26.7565 8.17927 26.4737C9.49904 26.1687 10.8354 25.9358 12.1515 25.6197C12.5439 25.5284 12.9062 25.3374 13.2033 25.0652C15.5489 22.7362 17.8742 20.398 20.2087 18.0634C21.0073 17.2667 21.4047 17.2557 22.1773 18.0634C22.5987 18.4996 22.9758 18.9765 23.4361 19.5089C24.8187 18.1022 26.0534 16.8416 27.2956 15.5865C28.0423 14.8324 28.794 14.0844 29.5506 13.3426C30.192 12.7141 30.6227 12.7086 31.2604 13.3426C34.8777 16.9488 38.4988 20.5514 42.0884 24.1817C42.6058 24.7066 43.2774 25.0525 44.0052 25.1687C47.4654 25.8674 50.9127 26.6474 54.3656 27.3868C54.8443 27.4903 55.214 27.7158 55.2898 28.2389C55.397 28.9487 54.7593 29.4478 53.97 29.2556C52.9386 29.006 51.9256 28.6788 50.8868 28.4681C48.1382 27.9136 45.3767 27.4034 42.6281 26.836C42.1958 26.7445 41.7968 26.5361 41.4747 26.2334C37.8913 22.6697 34.3207 19.101 30.7632 15.5274C30.6671 15.4294 30.558 15.3425 30.4286 15.2353Z' fill='black'/%3E%3Cpath d='M42.3821 16.5846C41.8967 16.5846 41.4159 16.4889 40.9674 16.3032C40.5189 16.1174 40.1114 15.8451 39.7681 15.5018C39.4248 15.1585 39.1525 14.751 38.9667 14.3025C38.7809 13.8539 38.6853 13.3732 38.6853 12.8877C38.6853 12.4023 38.7809 11.9215 38.9667 11.473C39.1525 11.0245 39.4248 10.617 39.7681 10.2737C40.1114 9.93041 40.5189 9.6581 40.9674 9.47232C41.4159 9.28654 41.8967 9.19092 42.3821 9.19092C42.8676 9.19092 43.3483 9.28654 43.7968 9.47232C44.2454 9.6581 44.6529 9.93041 44.9962 10.2737C45.3395 10.617 45.6118 11.0245 45.7976 11.473C45.9833 11.9215 46.079 12.4023 46.079 12.8877C46.079 13.3732 45.9833 13.8539 45.7976 14.3025C45.6118 14.751 45.3395 15.1585 44.9962 15.5018C44.6529 15.8451 44.2454 16.1174 43.7968 16.3032C43.3483 16.4889 42.8676 16.5846 42.3821 16.5846ZM42.3821 14.6899C42.6178 14.6895 42.8511 14.6421 43.0683 14.5505C43.2854 14.4589 43.4822 14.325 43.6471 14.1565C43.8119 13.9881 43.9415 13.7885 44.0284 13.5693C44.1152 13.3502 44.1576 13.116 44.1529 12.8803C44.1519 12.6443 44.1044 12.4107 44.0131 12.1929C43.9218 11.9752 43.7885 11.7776 43.6208 11.6114C43.4531 11.4453 43.2543 11.3138 43.0357 11.2245C42.8171 11.1352 42.5831 11.0899 42.347 11.0911C41.8714 11.1008 41.4186 11.2968 41.086 11.6369C40.7535 11.9771 40.5678 12.4342 40.5688 12.9099C40.5703 13.1462 40.6185 13.3799 40.7106 13.5975C40.8028 13.8151 40.9371 14.0124 41.1058 14.1778C41.2746 14.3433 41.4744 14.4737 41.6937 14.5616C41.9131 14.6495 42.1477 14.6931 42.384 14.6899H42.3821Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 2.3em;
            }

            &--8 {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.9419 17.5203C25.9367 19.7291 25.0542 21.8454 23.4886 23.4036C21.9231 24.9617 19.8026 25.8342 17.5938 25.8289C15.385 25.8237 13.2687 24.9412 11.7105 23.3757C10.1524 21.8101 9.27994 19.6896 9.28518 17.4808C9.30301 13.3504 12.4043 9.23524 17.6327 9.24416C22.8368 9.25307 25.9356 13.3657 25.9419 17.5203ZM17.625 10.8451C16.3075 10.8426 15.0188 11.2307 13.9218 11.9604C12.8248 12.6901 11.9687 13.7286 11.4617 14.9446C10.9547 16.1607 10.8196 17.4998 11.0734 18.7926C11.3273 20.0855 11.9586 21.2741 12.8878 22.2082C13.8169 23.1423 15.0021 23.78 16.2936 24.0408C17.585 24.3015 18.9248 24.1735 20.1436 23.6731C21.3623 23.1726 22.4054 22.3221 23.1409 21.229C23.8765 20.1359 24.2715 18.8493 24.276 17.5318C24.2787 16.6559 24.1087 15.7881 23.7759 14.978C23.443 14.1678 22.9538 13.4312 22.3361 12.8102C21.7184 12.1893 20.9845 11.6961 20.1761 11.3589C19.3677 11.0217 18.5009 10.8471 17.625 10.8451Z' fill='black'/%3E%3Cpath d='M5.75328 4.77881C6.04749 4.94948 6.29203 5.03354 6.45888 5.19656C7.64761 6.36068 8.82489 7.53455 9.9907 8.71819C10.3613 9.09137 10.3651 9.56007 10.034 9.90523C9.70285 10.2504 9.20231 10.2657 8.81767 9.88358C7.62893 8.70334 6.44359 7.518 5.26165 6.32756C4.97763 6.04354 4.86682 5.69074 5.08207 5.34685C5.22726 5.11887 5.51001 4.9775 5.75328 4.77881Z' fill='black'/%3E%3Cpath d='M25.7941 10.1726C25.4324 10.1369 25.1688 9.98155 25.0299 9.66314C24.8707 9.2976 24.9739 8.98428 25.2413 8.71427C26.2017 7.7446 27.1629 6.7813 28.1249 5.82437C28.3414 5.60785 28.5528 5.38878 28.7744 5.17863C29.1756 4.79654 29.6533 4.78125 29.9946 5.12768C30.3359 5.47411 30.3194 5.96447 29.936 6.35293C28.8933 7.40836 27.843 8.45827 26.785 9.50266C26.5441 9.72547 26.2888 9.93225 26.0208 10.1216C25.9497 10.1545 25.8724 10.1718 25.7941 10.1726Z' fill='black'/%3E%3Cpath d='M24.8849 25.6882C25.0912 25.4271 25.2199 25.1214 25.4415 25.022C25.6631 24.9227 25.9904 24.9915 26.263 25.0386C26.3789 25.059 26.4782 25.2042 26.5763 25.301C27.6929 26.4167 28.809 27.5328 29.9247 28.6494C30.3539 29.0786 30.3985 29.569 30.0521 29.923C29.7056 30.2771 29.1873 30.2453 28.744 29.802C27.6181 28.6761 26.4871 27.5553 25.3714 26.4192C25.1867 26.2371 25.0759 25.9824 24.8849 25.6882Z' fill='black'/%3E%3Cpath d='M10.2149 25.8552C10.1367 26.0431 10.032 26.219 9.90415 26.3774C8.74895 27.5555 7.58102 28.7196 6.41054 29.8825C6.02845 30.2646 5.52918 30.276 5.18911 29.9423C4.84905 29.6086 4.85414 29.1004 5.22987 28.7222C6.40162 27.5415 7.58229 26.3697 8.75787 25.1929C9.02916 24.9191 9.34247 24.8261 9.70291 24.9764C10.029 25.1114 10.1945 25.3699 10.2149 25.8552Z' fill='black'/%3E%3Cpath d='M3.36895 18.3404C2.56401 18.3404 1.75906 18.3404 0.949024 18.3404C0.37461 18.3404 0.00907336 18.022 0.00015784 17.5228C-0.00875768 17.0235 0.3606 16.6758 0.960487 16.6758C2.56953 16.6758 4.17899 16.6758 5.78888 16.6758C6.40914 16.6758 6.77341 16.9802 6.78232 17.4922C6.79124 18.0246 6.42315 18.3379 5.77869 18.3404C4.97884 18.3404 4.17389 18.3404 3.36895 18.3404Z' fill='black'/%3E%3Cpath d='M31.732 16.6759C32.5369 16.6759 33.3419 16.6759 34.1519 16.6759C34.7582 16.6759 35.1224 17.0033 35.1135 17.5229C35.1059 18.0222 34.7454 18.3381 34.1621 18.3393C32.5242 18.3393 30.8867 18.3393 29.2496 18.3393C28.6892 18.3393 28.3224 17.9942 28.3313 17.4911C28.3403 16.988 28.6969 16.6785 29.2394 16.6747C30.0635 16.6734 30.899 16.6759 31.732 16.6759Z' fill='black'/%3E%3Cpath d='M18.4449 3.3905C18.4449 4.16742 18.4449 4.94435 18.4449 5.72254C18.4449 6.3288 18.1151 6.69306 17.5954 6.68415C17.0961 6.67523 16.7815 6.31606 16.7803 5.73146C16.7803 4.13516 16.7803 2.53885 16.7803 0.942551C16.7803 0.370685 17.1114 0.00514807 17.6094 5.3489e-05C18.1074 -0.00504109 18.4386 0.354127 18.4424 0.933636C18.45 1.75259 18.4449 2.57154 18.4449 3.3905Z' fill='black'/%3E%3Cpath d='M16.779 31.6694C16.779 30.8645 16.779 30.0595 16.779 29.2495C16.779 28.6815 17.1165 28.3159 17.617 28.3159C18.1176 28.3159 18.4398 28.6751 18.4411 29.2584C18.4411 30.8547 18.4411 32.451 18.4411 34.0473C18.4411 34.6307 18.1252 34.9911 17.6259 35C17.1063 35.0089 16.7815 34.6447 16.7777 34.0384C16.7764 33.2526 16.779 32.4616 16.779 31.6694Z' fill='black'/%3E%3C/svg%3E%0A");
                background-size: 2.2em;
            }
        }

        &-text {
            font-size: 0.625em;

            .block {
                display: block;
            }
        }
    }

    &__square {
        &-text {
            position: relative;
            min-height: 4rem;
            line-height: 4rem;
            max-width: 32.5rem;
            margin-bottom: 1.5em;
            padding-left: 1.7em;
            background-color: $orange;
            color: $white;
            font-weight: 900;
            letter-spacing: 0.04em;
            text-align: center;
            text-transform: uppercase;

            &:after {
                content: '';
                position: absolute;
                right: -0.90em;
                top: 0.4em;
                width: 2.8rem;
                height: 2.8rem;
                background-color: $orange;
                transform: rotate(45deg);
            }
        }
    }

    &__text {
        margin-bottom: 1.188em;
        line-height: 1.13;
    }

    &__details {
        margin-bottom: 1.8rem;

        &-materials,
        &-types {
            justify-content: space-between;
        }

        &-materials {
            max-width: 28.7rem;
            margin-bottom: 1rem;

            &--width {
                width: 15.7rem;
            }
        }

        &-types {
            max-width: 34rem;
        }
    }

    &__cost {
        margin-bottom: 2.4rem;

        // &-value {
        //     margin-left: 1rem;
        //     margin-right: 2rem;
        // }

        // &-box {
        //     margin-bottom: 1.9rem;
        // }

        // &-from {
        //     font-size: 1.6rem;
        //     margin-right: 0.5rem;
        // }

        // &-price {
        //     font-size: 3.1rem;
        // }
    }

    .button {
        max-width: 34.3rem;
        margin-bottom: 1rem;
    }

    &__link {
        text-decoration: none;
        border-bottom: 0.1rem solid $orange;

        &-box {
            text-align: center;
        }
    }

    &__warning {
        text-align: center;
    }

    &__navigation {
        max-width: 91%;
        justify-content: space-between;

        &-left,
        &-right {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 1rem;
        }

        &-left:before,
        &-right:after {
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            border-top: 0.2rem solid $blue;
            border-radius: 0.1rem;
        }

        &-left {          
            &:before {
                margin-right: 0.7rem;
                border-left: 0.2rem solid $blue;
                transform: rotate(-45deg);
            } 
        }

        &-right {
            &:after {
                margin-left: 0.7rem;
                border-right: 0.2rem solid $blue;
                transform: rotate(45deg);
            }
        }
    }

    &__content {
        display: none;

        &-box {
            margin-bottom: 1.5rem;
        }
    }

    @media (min-width: 610px) {
        .title {
            max-width: none;
        }

        &__tabs {
            overflow-x: visible;
            white-space: normal;
            max-width: 59rem;
            margin-right: auto;
            margin-left: auto;

            &-item {
                padding: 0.9rem 0.5rem;
                color: $black;
                background-color: #EFEFEF;

                &.active {
                    background-color: $white;
                    border: 0.2rem solid $orange;
                    font-weight: 700;                    
                }
            }
        }

        &__navigation {
            &-left,
            &-right {
                font-size: 1.4rem;
            }

            &-left:before,
            &-right:after {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
    }

    @media (min-width: 768px) {
        &__tabs {
            max-width: 72.7rem;
            margin-bottom: 5.7rem;

            &-item {
                padding-right: 2.56rem;
                padding-left: 2.56rem;

                &.active {
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -27%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1.4rem;
                        height: 1.4rem;
                        border-bottom: 0.2rem solid $orange;
                        border-left: 0.2rem solid $orange;
                        transform: rotate(-45deg);
                        background-color: $white;
                    }

                    .right-balcony__tabs-item {
                        &-text {
                            display: block;
                        }
                    }
                }

                &-text {
                    position: absolute;
                    bottom: -3.5rem;
                    left: 0;
                    font-weight: 400;
                    margin-left: 0.4em;
                }
                
            }
        }

        &__temperature {
            &-text {
                display: none;
            }
        }

        &__box {
            grid-template: 
                'right-balcony__advantages right-balcony__slider' 13.2rem
                'right-balcony__square-text right-balcony__slider' 6rem
                'right-balcony__details right-balcony__text'
                'right-balcony__cost right-balcony__text'
                'right-balcony__warning right-balcony__text';
            grid-column-gap: 2rem;
            grid-template-columns: 40.1rem 28.6rem;
            max-width: 45em;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 3.2rem;

            &.active {
                display: grid;
            }
        }

        &__slider {
            grid-area: right-balcony__slider;
            max-width: 28.6rem;
            margin: 0;

            img {
                height: 20.7rem;
            }
        }

        &__advantages {
            max-width: none;
            width: 100%;
            margin-bottom: 1.5em;
            grid-area: right-balcony__advantages;

            &-icon {
                width: 4.375em;
                height: 4.375em;
                margin-bottom: 0.338em;

                &--1 {
                    background-size: 1em;
                }

                &--2 {
                    margin-bottom: 1em;
                    background-size: 2.5em;
                }

                &--3 {
                    background-size: 2.1em;
                }

                &--4 {
                    background-size: 2.3em;
                }

                &--5 {
                    background-size: 1.8em;
                }

                &--6 {
                    background-size: 2.4em;
                }

                &--7,
                &--8 {
                    background-size: 2.7em;
                }
            }

            &-text {
                font-size: 0.875em;
            }
        }

        #frameless-glazing {
            .right-balcony {
                &__advantages {
                    &-icon {
                        &--2 {
                            margin-bottom: 0.338em;
                        }
                    }
                }
            }
        }

        &__square {
            &-text {
                grid-area: right-balcony__square-text;
                max-width: 38.3rem;
                padding-left: 0.4em;
            }
        }

        &__text {
            margin-top: 2.5em;
            margin-bottom: 0;
            grid-area: right-balcony__text;
            line-height: 1.2;
        }

        &__details {
            grid-area: right-balcony__details;

            &-materials {
                max-width: 27.5rem;
                margin-bottom: 2.1rem;
            }

            &-types {
                max-width: 35.8rem;
            }
        }

        &__cost {
            grid-area: right-balcony__cost;
            margin-bottom: 2.1rem;

            // &-from {
            //     color: $black;
            // }

            // &-value {
            //     margin-left: 0.9rem;
            //     margin-right: 0.2rem;
            // }
        }

        .button {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0.7rem;
            max-width: 40.1rem;
        }

        &__warning {
            grid-area: right-balcony__warning;
            max-width: 37rem;
            line-height: 1.2;
        }

        &__navigation {
            max-width: 70rem;

            &-left,
            &-right {
                font-size: 1.8rem;
            }

            &-left:before,
            &-right:after {
                width: 1.2rem;
                height: 1.2rem;
                border-top-width: 0.3rem;
            }

            &-left:before {
                border-left-width: 0.3rem
            }

            &-right:after {
                border-right-width: 0.3rem
            }
        }

        .pagination {
            width: 0.5rem;
            height: 0.5rem;

            &-box {
                bottom: -0.4em;
            }
        }
    }

    @media (min-width: 1200px) {
        .title {
            margin-bottom: 3.5rem;
        }

        &__tabs {
            max-width: 94.6rem;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 6.7rem;

            &-item {
                font-size: 1.8rem;
                padding: 1.2rem 5.26rem;

                &.active {
                    &:after {
                        bottom: -21%;
                    }
                }

                &-text {
                    margin-left: 1.1em;
                }
            }
        }

        &__box {
            max-width: none;
            grid-template: 
                'right-balcony__advantages right-balcony__slider'
                'right-balcony__square-text right-balcony__slider'
                'right-balcony__text right-balcony__slider'
                'right-balcony__details right-balcony__content' 9.4rem
                'right-balcony__cost right-balcony__content' 10rem
                'right-balcony__warning right-balcony__content';                
            grid-template-columns: 45.2rem 46.9rem;
            grid-column-gap: 3rem;
            margin-bottom: 2.4rem;
            margin-left: 0;
            margin-right: 0;
        }

        &__advantages {
            max-width: 25em;
            margin: 0;
            margin-bottom: 1.063em;
        }

        &__slider {
            max-width: 45.5rem;

            img {
                height: 30rem;
            }
        }

        .navigation {
            &-left,
            &-right {
                width: 2.5rem;
                height: 2.5rem;
                background-size: 1.6rem;
            }

            &-left {
                left: 2rem;
            }

            &-right {
                right: 2rem;
            }
        }

        .pagination {
            width: 1rem;
            height: 1rem;
            margin-right: 1.1rem;

            &-box {
                bottom: 2.6em;
            }
        }

        &__text {
            margin-top: 0;
            margin-bottom: 2.1rem;
        }

        &__square-text {
            max-width: 42.3rem;
            padding-left: 1.4em;
        }

        &__details {
            margin-bottom: 0;

            &-materials {
                max-width: 26.5rem;
            }
        }

        .button {
            max-width: 46.1rem;
            margin-bottom: 1rem;
        }

        &__cost {
            margin-bottom: 0;
        }

        &__warning {
            margin-right: auto;
            margin-left: auto;
        }

        &__content {
            display: block;
            grid-area: right-balcony__content;

            &-text {
                line-height: 1.2;
            }
        }

        &__navigation {
            max-width: none;

            &-left {
                margin-left: 0.2rem;
            }

            &-right {
                margin-right: 0.2rem;
            }
        }
    }
}