@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.wood-species {
    background-color: #f6f6f6;

    /* .wood-species__title */

    &__title {
        text-align: center;
        max-width: 10em;
        line-height: 1.2;
        margin: 0 auto 1em;

        @include _768 {
            max-width: 100%;
            margin-bottom: 0.9em;
        }

        @include _1200 {
            margin-bottom: 0.7em;
        }
    }

    /* .wood-species__slider */

    &__slider {
        margin-bottom: 2.3em;
        & .pagination-box {
            bottom: -2.9em;
        }

        & .pagination.active {
            background-color: #17a1e3;
        }

        & .owl-stage-outer {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
            border-radius: 0.3em;
        }

        @include _768 {
            max-width: 40em;
            margin: 0 auto 2.3em;
        }
        @include _1200 {
            max-width: 100%;
        }
    }

    /* .wood-species__item */

    &__item {
        text-align: center;
        background-color: #ffffff;
        border-radius: 0.3em;
        padding: 1.7em 0.6em;
        max-width: 30.7rem;
        margin: 0 auto;
    }

    /* .wood-species__name */

    &__name {
        font-size: 1.8rem;
        margin-bottom: 0.5em;
    }

    /* .wood-species__price */

    &__price {
        font-size: 1.8rem;
        margin-bottom: 0.9em;
    }

    /* .wood-species__img */

    &__img {
        width: 28.3rem;
        height: 15.1rem;
        border-radius: 0.3em;
        margin-bottom: 1.3em;
    }

    /* .wood-species__text */

    &__text {
        font-size: 1.4rem;
        line-height: 1.2em;
        margin-bottom: 1.9em;
    }

    /* .wood-species__specifications */

    &__specifications {
        font-size: 1.2rem;
        margin-bottom: 2.1em;
    }

    /* .wood-species__specifications-rating */

    &__specifications-rating {
        display: flex;
        justify-content: center;
        margin-bottom: 0.4em;
    }

    .circle-rating {
        display: block;
        width: 0.5em;
        height: 0.5em;
        margin: 0 0.3em;
        background-color: #d0d0d0;
        border-radius: 50%;
        
        &--orange {
            margin: 0 0.3em;
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background-color: $orange;
        }
    }
}